@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        position: relative;
        padding: 0 10px;
    }
}

//***********header***********
header {
    @include header-style();
}


//***********main***********
.collection-detail-page {
    position: relative;
    width: $width-wide;

    .collection-title {
        margin: 80px 0 35px;
        text-align: center;
        font-size: 2.667rem;
        // background-color: aquamarine;
        
        @include responsive(large-screens) {
            margin-bottom: 30px;
            font: {
                weight: $font-semibold;
                size: 3rem;
            }
            text-align: left;
        }
    }


    .collec-image-desc-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "c"
        "b"
        "d"
        ;
        width: $width-wide;
        border-top: 2px solid $collection-line-gray;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 1s ease, transform 1s ease;
    
        .main-image { grid-area: a; }
        .collec-data { grid-area: b; }
        .other-images-box { grid-area: c; }
        .detail-desc-box { grid-area: d; }

        @include responsive(large-screens) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "a b"
            "a c"
            "d d"
            ;
        }

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .main-image {
            position: relative;
            // width: 335px;
            width: $width-wide;
            margin: 30px 0 40px;
            margin-bottom: 20px;
            background-color: #e7e7e7;
            
            @include responsive(large-screens) {
                width: 550px;
                // height: 440px;
                margin: 45px 0;
            }

            .main-column-img {
                width: 50%;
            }

        }

        .collec-data {
            @include responsive(large-screens) {
                width: 800px;
            }
            .collec-title {
                margin-top: 60px;
                margin-bottom: 10px;
                padding-bottom: 15px;
                font: {
                    weight: $font-semibold;
                    size: 1.333rem;
                }
                border-bottom: 2px solid $collection-line-lightgray;

                @include responsive(large-screens) {
                    margin-top: 45px;
                    font-size: 1.667rem; 
                }
            }

            table {
                tr {
                    td {
                        font-size: 1rem;

                        @include responsive(large-screens) {
                            font-size: 1.167rem;
                        }
                    }
                    
                    .cat-title {
                        width: 140px;
                        font-weight: $font-medium;
                    }
                }
            }
        }  // collec-data
        
        .other-images-box {
            position: relative;
            display: flex;
            align-items: center;
            width: $width-wide;
            // background-color: aqua;

            .arrow {
                position: absolute;
                cursor: pointer;
                font: {
                    weight: $font-regular;
                    size: 1.5rem;
                }

                @include responsive(large-screens) {
                    font-size: 1.667rem;
                }
            }

            .left-arrow {
                left: 0; top: 50%;
                transform: translateY(-50%);
            }

            .other-images {
                position: relative;
                left: 40px;
                width: 100px;
                cursor: pointer;
                background-color: #e7e7e7;
                // margin-left: 100px;

                @include responsive(large-screens) {
                    left: 60px;
                    width: 200px;
                }

                .last-image {
                    display: none;

                    @include responsive(large-screens) {
                        display: block;
                    }
                }
            }

            .right-arrow {
                right: 0; top: 50%;
                transform: translateY(-50%);
            }
        }
    
        .detail-desc-box {
            margin-top: 60px;
            width: $width-wide;
            .detail-content {
                margin-bottom: 15px;
                font: {
                    weight: $font-medium;
                    size: 1.333rem;
                }
                color: $color-point;

                @include responsive(large-screens) {
                    font-size: 1.5rem;
                }
            }

            .content-desc {
                padding: 20px;
                border: 2px solid $collection-line-lightgray;
                font-size: 1rem;
                
                @include responsive(large-screens) {
                    font-size: 1.167rem;
                }
            }
        }
    }  // collec-image-desc-box



    .list-box {
        margin: 30px 0 180px;

        @include responsive(large-screens) {
            margin: auto;
            width: 150px;
        }
        .list-btn {
            width: $width-wide;
            height: 50px;
            border: 2px solid $collection-line-lightgray;
            background-color: $color-second;

            @include responsive(large-screens) {
                margin: 60px 0 160px;
                width: $width-wide;
                height: 55px;
            }

            a {
                font-size: 1rem;  

                @include responsive(large-screens) {
                    font-size: 1.167rem;   
                }
            }
        }
    }
}  // collection

//***********footer***********
footer {
    @include footer-style();
}