@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        position: relative;
        padding: 0 10px;
    }
}

//***********header***********
header {
    @include header-style();
}


//***********main***********
.collection {
    position: relative;
    width: $width-wide;

    .collection-title {
        margin: 80px 0 50px;
        text-align: center;
        font-size: 2.667rem;
        opacity: 0;
        transition: opacity 0.5s ease;
        // background-color: aquamarine;
        
        @include responsive(large-screens) {
            margin-bottom: 10px;
            font: {
                weight: $font-semibold;
                size: 3rem;
            }
            text-align: left;
        }
    }
    .search {
        position: relative;
        justify-content: right;
        width: $width-wide;
        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease;

        @include responsive(large-screens) {
            display: flex;
            justify-content: right;
            width: $width-wide;
            transform: translateX(30px);
        }

        #search-box {
            width: $width-wide;
            height: 35px;
            padding-left: 10px;
            border: 2px solid #727272;
            border-radius: 10px;

            @include responsive(large-screens) {
                width: 360px;                
                height: 40px;
            }

            &:focus {
                outline: none;
            }
        }

        img {
            position: absolute;
            right: 10px; top: 50%;
            transform: translateY(-50%);
            width: 20px;
            cursor: pointer;
        }
    }  // search

    .collection-content {
        margin-top: 30px;
        .content-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(100px, auto);
            grid-row-gap: 30px;
            grid-column-gap: 15px;


            @include responsive(large-screens) {
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 35px;
                grid-row-gap: 35px;
            }

            .box {
                width: $width-wide; 
                // height: 415px;
                border: 1px solid $color-main;
                cursor: pointer;
                opacity: 0;
                transform: translateY(100px);
                transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
                // background-color: bisque;
            
            &.visible {
                opacity: 1;
                transform: translateY(0);
            }

                .collection-img {
                    position: relative;
                    width: $width-wide;
                    overflow: hidden;
                    
                    .hover-box {
                        position: absolute;
                        left: 0;  top: 0;
                        z-index: 1;
                        width: $width-wide;
                        height: $height-wide;
                        background-color: rgba(0, 0, 0, 0);
                        transition: background-color 0.3s ease;

                        .plus {
                            position: absolute;
                            left: 50%; top: 50%;
                            transform: translate(-50%, -50%);
                            font: {
                                weight: $font-thin;
                                size: 5rem;
                            }
                            color: $color-second;
                            opacity: 0;
                            transition: opacity 0.3s ease;

                            .btn {
                                transform: rotate(45deg);
                                transition: transform 0.3s ease;
                            }
                            
                        }
                    }
                }
                img {
                    transform: scale(1.15);
                }

                .book-image {
                    transform: scale(1);
                }
                
                .content-title-txt {
                    padding: 10px 10px 20px;

                    @include responsive(large-screens) {
                        padding: 30px 30px 50px;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 82px;

                        @include responsive(large-screens) {
                            height: 110px;
                        }

                        .content-title {
                            font: {
                                weight: $font-semibold;
                                size: 1rem;
                            }

                            @include responsive(large-screens) {
                                font-size: 1.5rem;
                            }
                        }
    
                        .content-txt {
                            font: {
                                weight: $font-regular;
                                size: 0.875rem;
                            }
                            // background-color: lightgreen;
                            
                            @include responsive(large-screens) {
                                font-size: 1rem;
                            }

                            span {
                                display: none;

                                @include responsive(large-screens) {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }  // content-title-txt

                &:hover {
                    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.2);
                    .collection-img {
                        .hover-box {
                            background-color: rgba(0, 0, 0, 0.4);

                            .plus {
                                opacity: 1;
                                
                                .btn {
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }
            }  // box

            .box-mobile {
                @include responsive(large-screens) {
                    display: none;
                }
            }
        }  // content-box
    }  // collection-content


    .page-number {
        margin: auto;
        margin: 80px 0 180px;
        // background-color: aqua;

        @include responsive(large-screens) {
            margin: 60px 0 160px;

        }
        ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 240px;
            margin: auto;

            // background-color: aquamarine;

            @include responsive(large-screens) {
                width: 325px;
            }

            li {
                a {
                    font: {
                        weight: $font-regular;
                        size: 1rem;
                    } 

                    @include responsive(large-screens) {
                        font-size: 1.333rem;  // 16pt
                    }
                }
            }


            .arrow {
                a {
                    &:hover {
                       font-weight: $font-semibold;
                    }
                }
            }
            .number {
               a {
                    &:hover,
                    &.num-selected {
                        font-weight: $font-medium;
                        color: $color-point;
                        text-decoration: underline $color-point;
                    }
                } 
            }



            .single-left-arrow {
                padding-right: 25px;

                @include responsive(large-screens) {
                    padding-right: 32px;
                } 
            }
            .num1,
            .num2,
            .num3 {
                padding-right: 30px;

                @include responsive(large-screens) {
                    padding-right: 42px;
                }
            }
            .single-right-arrow {
                padding-left: 25px;

                @include responsive(large-screens) {
                    padding-left: 32px;
                }
            }
        }
    }  // page-number
}  // collection

//***********footer***********
footer {
    @include footer-style();
}