@import "./style.scss";
@import "./mixin.scss";

.container {
    position: relative;
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
}

@mixin footer-style() {
    position: relative;
    width: $width-wide;
    // background-color: coral;

    .footer-img{
        img {
            width: $width-wide;
        }
    }

    .footerlogo-info {
        padding: 35px 20px;
        // background-color: aquamarine;

        .footer-content-box {
            position: relative;
            width: 84%;
            margin: 0 auto;
            // background-color: lightpink;

            @include responsive(large-screens) {
                display: flex;
                width: 82%;  
                height: 150px;
            }

            .footer-logo {
                margin-bottom: 30px;
                width: $width-wide;
                // background-color: aquamarine;

                @include responsive(large-screens) {
                    margin-right: 6%;
                    width: 290px;  
                }

                h2 {
                    font: {
                        weight: $font-thin;
                        size: 2.333rem;  
                    }
                    @include responsive(large-screens) {
                        line-height: 1.2;
                        font: {
                            size: 3.75rem;  
                        }
                    }
                }
            }


            .footer-info-box {
                width: $width-wide;

                @include responsive(large-screens) {
                    display: flex;
                    flex-direction: column;
                }

                .info {
                    width: $width-wide;
                    display: flex;
                    justify-content: space-between;
                    // background-color: lightblue;
                    
                    @include responsive(large-screens) {
                        width: 100%; 
                    }
    
                    div {
                        strong {
                            font: {
                                weight: $font-medium;
                                size: 1rem;
                            }
                            color: $color-gray;
                            
                            @include responsive(large-screens) {
                                margin-bottom: 15px;
                                font: {
                                    size: 1.167rem;  
                                }
                            }
                        }
    
                        .long-line {
                            position: relative;
                            z-index: 1;
                            width: $width-wide;
                            height: 2px;
                            margin: 10px 0;
                            background-color: $footer-gray; 
    
                            .line {
                                position: absolute;
                                left: 0; top: 0;
                                z-index: 2;
                                width: 41px;
                                height: $height-wide;
                                background-color: $footer-darkgray;

                                @include responsive(large-screens) {
                                    width: 33px;
                                }
                            }
                        }
                    }
                    
                    .address {
                        width: 45%;
                        @include responsive(large-screens) {
                            width: 40%;
                        }
                    }
                    .tel {
                        width: 40%;
                        @include responsive(large-screens) {
                            width: 35%;
                        }
                    }
                    .sns {
                        width: 15%;
                        @include responsive(large-screens) {
                            width: 25%;
                        }

                        li {
                            a {
                                &:hover {
                                    color: $color-main;
                                }
                            }
                        }
                    }
    
                    
                    
                    .txt {
                        width: 80%;
                        font-size: 0.83rem;  
                        color: $color-gray;
                        // background-color: aqua;

                        @include responsive(large-screens) {
                            width: 75%;
                            font-size: 1rem;  
                        }
                    }
                }  // info
    
                .copyright {
                    width: $width-wide;
                    margin-top: 20px;
                    // background-color: blanchedalmond;
                    
                    @include responsive(large-screens) {
                        margin-top: 0;
                    }

                    p {
                        font-size: 0.83rem;  
                        color: $color-gray;
                    }
                }  // copyright
            }  // footer-info-box
        }  // footer-content-box
    }  // footerlogo-info

    .fixed-menu {
        position: fixed;
        right: 30px; bottom: 50px;
        z-index: 10;

        @include responsive(large-screens) {
            right: 60px; bottom: 100px;
        }

        a {
            width: 35px; 
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            text-align: center;
            color: $color-second;
            background-color: $color-main;

            @include responsive(large-screens) {
                width: 50px; 
                height: 50px;
                line-height: 50px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }  // fixed-menu
}  // footer-style()