@import "./style.scss";
@import "./mixin.scss";

.container {
    position: relative;
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    // background-color: lightgreen;
}

@mixin footer-style() {
    position: relative;
    width: $width-wide;
    height: 400px;
    background-color: coral;
    @include responsive(large-screens) {
        height: 415px;
    }

    .footer-img{
        img {
            width: $width-wide;
        }
    }

    .footerlogo-info {
        padding: 0 20px;
        margin-top: 35px;
        background-color: aquamarine;

        .footer-content-box {
            width: 84%;
            margin: 0 auto;

            @include responsive(large-screens) {
                display: flex;
                // justify-content:;
                // align-items: center;
                width: 82%;  // 1180px  988
                background-color: lightpink;
            }

            .footer-logo {
                h2 {
                    font: {
                        weight: $font-thin;
                        size: 2.5rem;  // 30pt 40px
                    }
                }
                    
                @include responsive(large-screens) {
                    margin-top: 7px;
                    margin-right: 90px;
                    width: 300px;
                    line-height: 1.2;
                    font: {
                        size: 53px;
                    }
                    background-color: aquamarine;
                }
            }

            .division-line {
                position: relative;
                width: $width-wide;
                height: 2px; 
                margin: 30px 0 20px;
                background-color: $footer-gray;

                @include responsive(large-screens) {
                    position: absolute;
                    left: 410px; top: 42px;
                    width: 62.36%;
                    margin: 0;
                }
                
                .line {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 5.7%; 
                    height: $width-wide;
                    background-color: $footer-darkgray; 

                    @include responsive(large-screens) {
                        width: 33px; 
                    }
                }
                
                .line:nth-child(2) {
                    left: 49%;  // 294px

                    @include responsive(large-screens) {
                        left: 350px;  
                    }
                }
                .line:nth-child(3) {
                    left: 83%;  // 498px

                    @include responsive(large-screens) {
                        left: 635px;
                    }
                }
            }

            .info {
                width: $width-wide;
                display: flex;
                // justify-content: space-between;
                // align-items: center;
                @include responsive(large-screens) {
                    justify-content: space-between;
                    // align-items: center;
                    // width: 705px;  // 705px
                    background-color: aqua;
                }

                div {
                    margin-right: 40px;
                    @include responsive(large-screens) {
                        margin-right: 0;
                    }
                }
                
                .address {
                    width: 240px;
                    @include responsive(large-screens) {
                        width: 190px;
                    }
                }
                .tel {
                    width: 155px;
                    @include responsive(large-screens) {
                        width: 125px;
                    }
                }
                .sns {
                    width: 85px;
                    margin-right: 0;
                    @include responsive(large-screens) {
                        width: 70px;
                    }
                }

                strong {
                    margin-bottom: 18px; 
                    }
                    font: {
                        weight: $font-regular;
                    }
                    color: $footer-darkgray;

                    @include responsive(large-screens) {
                        margin-bottom: 35px;
                        font: {
                            size: 18px;
                        }
                    }
                
                .txt {
                    font: {
                        weight: $font-regular;
                        size: 0.83rem;  // 10pt 13px
                    }
                    color: $footer-gray;
                    @include responsive(large-screens) {
                        font-size: 14px;
                    }
                }
            }  // info

            .copyright {
                width: $width-wide;
                margin-top: 30px;

                @include responsive(large-screens) {
                    margin-top: 25px;
                }

                p {
                    font: {
                        weight: $font-regular;
                        size: 0.83rem;  // 10pt 13px;
                    }
                    color: $footer-gray;
                    @include responsive(large-screens) {
                        font: {
                            size: 10px;
                        }
                    }
                }
            }  // copyright
        }  // footer-content-box
    }  // footerlogo-info

    .fixed-menu {
        position: fixed;
        right: 70px; bottom: 100px;
        z-index: 10;

        a {
            width: 50px; 
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            text-align: center;
            color: $color-second;
            background-color: $color-main;
        }
    }  // fixed-menu
}  // footer-style()