@import "./style.scss";
@import "./mixin.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
} 

@mixin header-style() {
    position: relative;
    z-index: 1;
    width: $width-wide;
    height: 12vh;
    background-color: pink;

    @include responsive(large-screens) {
        height: 150px;
    }

    .logo-gnb-rightmenu {
        height: $height-wide;
        .container {
            height: $height-wide;
            
            .logo-gnb-menu-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: $width-wide;
                height: $height-wide;
                // background-color: brown;

                &.active {
                    position: relative;
                    z-index: 2000;
                    border-bottom: 2px solid $line-gray;
                }

                @include responsive(large-screens) {
                    position: relative;
                }
    
                .logo {
                        position: relative;
                        z-index: 10;
                        width: 30%;

                        @include responsive(large-screens) {
                            // margin-top: 41px;
                            width: 191px; 
                        }
                        img {
                        position: relative;
                        z-index: 5;
                        width: 100%;
                        
                        @include responsive(large-screens) {
                           width: $width-wide;
                        }
                    }
                }
    
    
    
                .main-menu {
                    display: none;
                    
                    @include responsive(large-screens) {
                        display: block;
                        margin-top: 30px;
                        background-color: transparent;
                    }
    
                    .gnb {
                        margin-top: 50px;
                        padding-left: 30px;

                        @include responsive(large-screens) {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-top: 0;
                            padding-left: 0;
                            width: 640px;
                            background-color: aquamarine;
                        }
    
                        li {
                            @include responsive(large-screens) {
                                position: relative;
                                width: 160px;
                                height: 25px;
                            }
                            
                            a.gnb-title {
                                padding: 10px 0;
                                font: {
                                    weight: $font-medium;
                                    size: 1.667rem;
                                }
                                background-color: lightskyblue;


                                &.highlight {
                                    color: $color-point;
                                    text-decoration: underline;
                                }

                                @include responsive(large-screens) {
                                    display: flex;
                                    flex-direction: column;
                                    padding: 0;
                                    font: {
                                        size: 1.1rem;  // 16pt 21px
                                        weight: $font-regular;
                                    }
                                    text-align: center;
                                    // color: $color-second;
    
                                    &:hover {
                                        color: $color-point;
                                    }
                                }
                            }
                            .sub-menu {
                                display: none;

                                &.active {
                                    @include responsive(large-screens) {
                                        position: absolute;
                                        left: 0; top: 73px;
                                        // display: flex;
                                        // flex-direction: column;
                                        // // margin-top: 73px;
                                        width: $width-wide;
                                        height: 150px;
                                        // text-align: center;
                                        background-color: lightcyan;
                                    }

                                    .li {
                                        @include responsive(large-screens) {
                                        }
                                        a {
                                            @include responsive(large-screens) {
                                                padding: 20px;
                                                text-align: center;
                                            }
                                        }
                                }
                                
                                }    
                                // &.active {
                                //     @include responsive(large-screens) {
                                //         display: block;
                                //         margin-top: 122px;
                                //         background-color: transparent;
                                //     }
                                // }
                            }
                        }
                    }
                  &.active {
                    display: block;
                    width: $width-wide;
                  }
                } 
        
    
                .right-menu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 17%;
                    // background-color: aquamarine;
    
                    @include responsive(large-screens) {
                        display: block;
                        margin: 20px 35px 0 45px;
                        width: 85px;  
                        height: 21px;
                    }
        
                    ul {
                        width: 40%;
                        // margin-top: 5px;

                        @include responsive(large-screens) {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: $width-wide;
                        }
                        
                        .login {
                            display: none;
    
                            @include responsive(large-screens) {
                                display: block;
                                width: 27px;
                            }
                        }

                        .search {
                            width: 90%;
                            // background-color: lightblue;\

                            &.hide {
                                display: none;
                            }

                            @include responsive(large-screens) {
                                width: 21px;
                            }
                            img {
                                width: $width-wide;
                            }
                        }
                    }
        
    
                    .mobile-menu {
                        position: relative;
                        z-index: 2000;
                        width: 35%;
                        cursor:pointer;
                        // background-color: aqua;

                        @include responsive(large-screens) {
                            display: none;
                        }
    
                        .bar {
                          display:block;  
                          width: $width-wide;
                          height: 2px;
                          margin: 2vw 0;
                          border-radius: 10px;
                          background:$color-main;
                          transition: transform 0.5s ease;
    
                          &:first-child {
                            // margin-top: 0;
                            transform:rotate(0deg);
                          }
    
                          &:last-child {
                            // margin-bottom: 0;
                            transform:rotate(0deg);
                          }
                        }
    
                        &.active {
                          height:50px;
                        //   background-color: greenyellow;
                          position:relative;
    
                          div{
                            position:absolute;
                            top: 15px; right: 0;
                            display:none;
    
                            &:first-child {
                              transform:rotate(-45deg);
                                display:block;
                            }
    
                            &:last-child {
                              transform:rotate(45deg);
                              display:block;
                            }
                          }
                        }
                      }
                }  // right-menu
            }  //logo-gnb-menu-box
        } 
    }  // logo-gnb-rightmenu
}  // header-style()