@import "./style.scss";
@import "./mixin.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
} 

@mixin header-style() {
    position: relative;
    z-index: 2;
    width: $width-wide;
    height: 12vh;

    @include responsive(large-screens) {
        height: 150px;
    }

    &.active {
        // position: absolute;
        // top: 5vh;
        position: relative;
        z-index: 100;
        border-bottom: 1px solid $line-gray;
    }

    &:after {
        @include responsive(large-screens) {
            content: "";
            position: absolute;
            top: 150px;
            width: $width-wide;
            height: 0;
            background-color: rgba(0, 0, 0, 0.3);
            transition: all 0.5s;
        }
    }

    &.sub-bg:after {
        @include responsive(large-screens) {
            background-color: $color-second;
        }
    }

    &.active:after {
        @include responsive(large-screens) {
            height: 220px;
        }
    }


    .logo-gnb-rightmenu {
        height: $height-wide;
        @include responsive(large-screens) {
            position: relative;
        }

        &.active {
            z-index: 2;
            background-color: $color-second;
        }
    
        .container {
            height: $height-wide;
            
            .logo-gnb-menu-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: $width-wide;
                height: $height-wide;
                // background-color: brown;

                @include responsive(large-screens) {
                    position: relative;
                }
    
                .logo {
                        position: relative;
                        z-index: 10;
                        width: 30%;

                        @include responsive(large-screens) {
                            // margin-top: 41px;
                            width: 191px; 
                        }
                        img {
                        position: relative;
                        z-index: 5;
                        width: 100%;
                        
                        @include responsive(large-screens) {
                           width: $width-wide;
                        }
                    }
                }
    
    
    
                .main-menu {
                    display: none;
                    
                    @include responsive(large-screens) {
                        display: block;
                        position: absolute; 
                        left: 0; right: 0;
                        top: 55px; 
                        z-index: 5;
                        width: $width-wide; 
                        padding: 0 20vw;
                        height: 80px; 
                        overflow: hidden; 
                        text-align: center; 
                        transition: all 0.5s;
                    }
    
                    &.active {
                        display: block;
                        width: $width-wide;

                        @include responsive(large-screens) {
                            height: 270px;
                        }
                    }

                    .gnb {
                        margin-top: 10vh;
                        padding-left: 30px;

                        // &.active {
                        //     position: absolute;
                        //     top: 5vh;
                        //     border-top: 1px solid $line-gray;
                        // }

                        @include responsive(large-screens) {
                            display: flex; 
                            align-items: center; 
                            justify-content: center;  
                            padding: 0 20px;
                            margin-top: 0;
                        }
    
                        li {
                            @include responsive(large-screens) {
                                position: relative;
                            }
                            
                            a.gnb-title {
                                padding: 10px 0;
                                font: {
                                    weight: $font-medium;
                                    size: 1.667rem;
                                }
                                // background-color: lightskyblue;

                                @include responsive(large-screens) {
                                    display: block; 
                                    width: 150px; 
                                    height: 80px; 
                                    line-height: 78px; 
                                    margin-right: 20px;
                                    padding: 0;
                                    font: {
                                        size: 1.167rem;  
                                        weight: $font-semibold;
                                    }
                                    color: $color-second;
                                }

                                
                                &:hover,
                                &.active {
                                    text-decoration: none;
                                    color: $color-point;
                                }

                            }

                            &:last-child {
                                a {
                                    @include responsive(large-screens) {
                                        margin-right: 0;
                                    }
                                }
                            } 

                            .sub-menu {
                                display: none;

                                @include responsive(large-screens) {
                                        position: absolute;
                                        display: block;
                                        padding-top: 30px;
                                        width: $width-wide;
                                        height: 270px;
                                        font-weight: $font-regular;
                                        // background-color: $color-second;
                                }

                                li {
                                    a {
                                        @include responsive(large-screens) {
                                            display: block; 
                                            width: 150px;
                                            line-height: 2.2; 
                                            color: $color-second;
                                        }

                                        &:hover,
                                        &:focus {
                                            text-decoration: underline;
                                            color: $color-main;

                                            @include responsive(large-screens) {
                                                color: $color-second;
                                            } 
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }  // gnb

                    // <햄버거 메뉴 눌렀을 때만 나타남>
                    .only-mobile {
                        position: absolute;
                        bottom: 12vh;
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 30px;
                        width: $width-wide;
                        height: 15vh;
                        border-top: 1px solid $line-gray;
                        // background-color: aqua;

                        .small-title {
                            font: {
                                weight: $font-semibold;
                                size: 1rem;
                            }
                            color: $color-point;
                        }

                        .login-txt {
                            a {
                                font: {
                                    weight: $font-regular;
                                    size: 1rem;
                                }

                                &:hover {
                                    text-decoration: underline;
                                    color: $color-main;
                                }
                            }
                        }
                    }
                } // main-menu
        
    
                .right-menu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 17%;
                    // background-color: aquamarine;
    
                    @include responsive(large-screens) {
                        position: relative;
                        z-index: 6;
                        display: block;
                        margin: 20px 35px 0 45px;
                        width: 85px;  
                        height: 21px;
                    }
        
                    ul {
                        width: 40%;
                        // margin-top: 5px;

                        @include responsive(large-screens) {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: $width-wide;
                        }
                        
                        .login {
                            display: none;
    
                            @include responsive(large-screens) {
                                display: block;
                                width: 27px;
                            }
                        }

                        .search {
                            width: $width-wide;
                            // background-color: lightblue;\
                            cursor: pointer;

                            &.hide {
                                display: none;
                            }

                            @include responsive(large-screens) {
                                width: 27px;
                            }
                            img {
                                width: $width-wide;
                            }
                        }
                    }
        
                    
                    
                    

                    .mobile-menu {
                        position: relative;
                        z-index: 2000;
                        width: 35%;
                        cursor:pointer;
                        // background-color: aqua;

                        @include responsive(large-screens) {
                            display: none;
                        }
    
                        .bar {
                          display:block;  
                          width: $width-wide;
                          height: 2px;
                          margin: 2vw 0;
                          border-radius: 10px;
                          background-color: $color-main;
                          transition: transform 0.5s ease;
    
                          &:first-child {
                            // margin-top: 0;
                            transform:rotate(0deg);
                          }
    
                          &:last-child {
                            // margin-bottom: 0;
                            transform:rotate(0deg);
                          }
                        }
    
                        &.active {
                          height:50px;
                        //   background-color: greenyellow;
                          position:relative;

                          div{
                            position:absolute;
                            top: 15px; right: 0;
                            display:none;
                            background-color: $color-main;  
    
                            &:first-child {
                              transform:rotate(-45deg);
                                display:block;
                            }
    
                            &:last-child {
                              transform:rotate(45deg);
                              display:block;
                            }
                          }
                        }
                      }
                }  // right-menu
            }  //logo-gnb-menu-box
        } 
    }  // logo-gnb-rightmenu

    .header-search-box {
        display: none;  
        position: absolute;
        left: 0; top: 12vh;
        width: $width-wide;
        height: 11vh;
        border-top: 1px solid $line-gray;
        border-bottom: 1px solid $line-gray;
        background-color: rgba(0, 0, 0, 0.3);
        
        @include responsive(large-screens) {
            top: 150px;
            height: 80px;
        }

        .search-box {
            position: absolute;
            left: 50%; top: 3vh;
            transform: translateX(-50%);
            padding-left: 10px;
            width: 90%;
            height: 5vh;
            border: 1px solid $color-main;
            border-radius: 10px;

            @include responsive(large-screens) {
                top: 20px;
                width: 1000px;
                height: 40px;
                border-radius: 10px;
            }

            &:focus {
                outline: none;
            }
        }

        img {
            width: auto;
            height: 3vh;
            cursor: pointer;
            position: absolute;
            right: 7vw; top: 4vh;

            @include responsive(large-screens) {
                right: 230px; top: 27px;
                width: 26px;
                height: auto;
            }
        }

        &.visible {
            display: block;
        }

        &.sub-visible {
            display: block;
            background-color: $color-second;
        }
    }
}  // header-style()