@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "./header.scss";
@import "./footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    // background-color: antiquewhite;
}

//***********header***********
header {
    @include header-style();
}


//***********main***********

main {
    
    .main-video {
        h2 {
            font-size: 0;
        }
        video {
            position: absolute;
            left: 0; top: 0;
            width: $width-wide;
        }
    }
    @include responsive(large-screens) {
        
    }

    section.main-intro {
        margin-top: 1000px;

        .intro-title {
            font: {
                weight: $font-regular;
                size: 3.5rem;   // 56pt
            }
        }

        .intro-text {
            font: {
                weight: $font-thin;
                size: 1.5rem;   // 24pt
            }

            .num {
                color: $color-point;
            }
        }
    }
}


//***********footer***********
footer {
    @include footer-style();
}