@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "./header.scss";
@import "./footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    // background-color: antiquewhite;
}

//***********header***********
header {
    @include header-style();
}


//***********main***********

main {
    
    .main-video {
        h2 {
            font-size: 0;
        }
        video {
            position: absolute;
            left: 0; top: 0;
            width: $width-wide;
        }
    }
    @include responsive(large-screens) {
        
    }

    section {
        margin-top: 1000px;
    }
}


//***********footer***********
footer {
    @include footer-style();
}