@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "./header.scss";
@import "./footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        padding: 0;
    }
}

//***********header***********
header {
    @include header-style();
}


//***********main***********
.detail-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;

    .circle-text {
        position: absolute;
        width: $width-wide;
        height: $height-wide;
        color: $color-main;
        font: {
            weight: $font-light;
            size: 0.5625rem;  // 10pt
        }
        animation: textRotation 8s linear infinite;

        @keyframes textRotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        span {
            position: absolute;
            left: 50%;
            font-size: 0.5625rem;
            transform-origin: 0 40px;
        }
    }  // circle-text

    .button {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
        border-radius: 100%;
        border: 1px solid $color-main;

        .btn-line {
            width: 16px;
            height: 2px;
            margin-bottom: 5px;
            border-radius: 2px;
            background-color: $color-main;
            // transition: transform 0.3s ease;
            // transform-origin: center;
        }

        .btn-line:last-child {
            margin-bottom: 0;
        }
    }  // button
}  // detail-button

 //=================== main-inform =================== 
 .main-inform {
    position: relative;
    width: $width-wide;
    padding: 100px 0 150px;
    background-color: #fb7829;

    @include responsive(large-screens) {
        overflow: hidden;
        height: 1300px;
        padding: 0;
    }
    .main-inform-line {
        margin: 0 2.777%;
        div{
            position: absolute;
            width: 94.444%;
            height: 2px;
            border: 2px solid $color-second;
        }

        .info-line1 {
            top: 250px;
            animation: seesawTop 3s ease-in-out infinite;

            @keyframes seesawTop {
                0% {
                    transform: rotate(2deg);
                }
                50% {
                    transform: rotate(-2deg);
                }

                100% {
                    transform: rotate(2deg);

                }
            }

            @include responsive(large-screens) {
                top: 170px;
            }
        }

        .info-line2 {
            bottom : 130px;
            animation: seesawBottom 3s ease-in-out infinite;

            @keyframes seesawBottom {
                0% {
                    transform: rotate(-2deg);
                }
                50% {
                    transform: rotate(2deg);
                }

                100% {
                    transform: rotate(-2deg);

                }
            }

            @include responsive(large-screens) {
                bottom: 153px;
            }
        }
    }  // main-inform-line

    .title-btn-wrap {
        display: flex;
        width: $width-wide;
        justify-content: space-between;

        @include responsive(large-screens) {
            position: absolute;
            width: $width-wide;
        }
        .main-inform-title {
            margin-bottom: 130px;
            font-size: 4.167rem;  //50pt
            color: $color-second;
        }

        .detail-button {
            margin-right: 5.9%;
            .circle-text {
                color: $color-second;
            }
            .button {
                border-color: $color-second;
                background-color: $color-second;
            }
        }
    }

    .container-none {
        padding: 0;

        .inform-content-box {
            display: flex;
            flex-direction: column;
            gap: 30px;
            overflow: hidden;
            width: $width-wide;
            height: auto;
            align-items: center;
            flex-shrink: 0;
            background-color: aquamarine;            

            @include responsive(large-screens) {
                position: absolute;
                top: 100px;
                flex-direction: row;
                gap: 0;
                height: 1200px;
            }

           .content-box1,
           .content-box2 {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 20px;
                width: $width-wide;
                height: auto;
                margin: auto;
                cursor: pointer;

                @include responsive(large-screens) {
                    flex-direction: column;
                    justify-content: center; 
                    align-items: center; 
                    // gap: -50px;
                }

                div {
                    width: 72.222%;

                    .txt-box {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: $width-wide;
                        // height: 300px;
                        padding: 50px 30px;
    
                        .txt-title {
                            width: 80%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            font: {
                                weight: $font-regular;
                                size: 1.5rem;
                            }
                            // background-color: antiquewhite;
    
                            @include responsive(large-screens) {
                                font-size: 1.175rem;
                                
                            }
                        }
    
                        
                        time {
                            width: 20%;
                            padding-top: 15px;
                            font: {
                                weight: $font-regular;
                                size: 0.875rem;
                            }
                            text-align: right;
                            // background-color: lightcyan;
    
                            @include responsive(large-screens) {
                                font-size: 0.875rem;
                            }
                        }
    
                        .txt {
                            width: $width-wide;
                            height: 250px;
                            margin-top: 10px;
                            padding: 20px 0 40px;
                            border-top: 2px solid $line-gray;
                            font-size: 1.333rem;
                            // background-color: lightpink;
    
                            @include responsive(large-screens) {
                                font-size: 1rem;
                            }
                        }
    
                        .detail-btn {
                            width: $width-wide;
                            padding-bottom: 20px;
                            border-bottom: 2px solid $line-gray;
                            text-align: right;
                            font-size: 1rem;
                            // background-color: lightgreen;
                            @include responsive(large-screens) {
                                font-size: 0.875rem;
                            }
                        }
                    }  // txt-box
                }  // div
                

                .news {
                    // width: 300px;
                    margin: auto;
                    // background-color: navy;
                    @include responsive(large-screens) {
                        display: flex;
                        align-items: center;
                        width: 660px;
                    }

                    .bg-img {
                        width: $width-wide;
                        background: {
                            repeat: no-repeat;
                            size: cover;
                        }
                    }

                    .news-txt {
                        opacity: 0;
                        visibility: hidden;
                        background-color: rgba(0, 0, 0, 0);
                        transition: background-color 0.3s, opacity 0.3s;

                        @include responsive(large-screens) {
                            height: $height-wide;
                        }

                        .detail-btn {
                            a {
                                color: $color-second;
                            }
                        }
                    }
                
                    &:hover {
                        .news-txt {
                            opacity: 1;
                            visibility: visible;
                            color: $color-second;
                            background-color: rgba(0, 0, 0, 0.7);

                            .txt {
                                border-bottom-color: $color-second;
                            }
                        }
                    } 
                    
                    .main-news-title {
                        width: 100%;
                        margin-top: 15px;
                        background-color: lightblue;
                        

                        @include responsive(large-screens) {
                            margin-top: 0;
                            padding: 0;
                        }

                        p {
                            font-size: 1.333rem;
                            color: $color-second;
                            // background-color: lightgoldenrodyellow;

                        @include responsive(large-screens) {
                            font-size: 0.875rem;
                        }
                        }
                    }
                }

                .news-content1 {
                    @include responsive(large-screens) {
                        position: relative;
                        flex-direction: row-reverse;
                    }
                    .bg-img {
                        background-image: url(../images/news_1.jpg);
                    }

                    .main-news-title {
                        @include responsive(large-screens) {
                            position: absolute;
                            left: -220px; bottom: 190px;
                            transform: rotate(-90deg);
                            width: 400px;
                            height: 20px;
                            // transform-origin: right bottom;
                        }
                    }
                }
    
                .news-content2 {
                    @include responsive(large-screens) {
                        position: relative;
                        flex-direction: row-reverse;
                    }

                    .bg-img {
                        background-image: url(../images/news_2.jpg);
                    }
                    
                    .main-news-title {
                        @include responsive(large-screens) {
                            position: absolute;
                            left: -235px; bottom: 190px;
                            transform: rotate(-90deg);
                            width: 430px;
                            height: 20px;
                            // transform-origin: right bottom;
                        }
                    }
                }
    
                .news-content3 {
                    @include responsive(large-screens) {
                        position: relative;
                    }

                    .bg-img {
                        background-image: url(../images/news_3.jpg);
                    }

                    .main-news-title {
                        @include responsive(large-screens) {
                            position: absolute;
                            right: -235px; bottom: 205px;
                            transform: rotate(90deg);
                            width: 430px;
                            height: 20px;
                            text-align: right;
                            // transform-origin: right bottom;
                        }
                    }
                }
                
                .notice {
                     background-color: $color-second;
                     @include responsive(large-screens) {
                        width: 450px;
                    }
                }

                .notice-content1 {
                    @include responsive(large-screens) {
                        margin-left: 210px;
                    }
                }

                .notice-content2,
                .notice-content3 {
                    @include responsive(large-screens) {
                        margin-right: 210px;
                    }
                }
           }  // content-box1/2
        }  // inform-content-box
    }  // container-none
}  // inform