@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

.mobile-menu {
    cursor:pointer;
    .bar {
      width: 40px;
      height:3px;
      background:$color-main;
      margin:10px 10px;
      border-radius: 10px;
      display:block;
      transition: transform 0.5s ease;
      &:first-child {
        transform:rotate(0deg);
      }
      &:last-child {
        transform:rotate(0deg);
      }
    }
    &.active {
      height:50px;
      position:relative;
      div{
        position:absolute;
        top: 0;
        display:none;
        &:first-child {
          transform:rotate(-45deg);
            display:block;
        }
        &:last-child {
          transform:rotate(45deg);
          display:block;
        }
      }
    }
  }
  .main-menu {
    position: absolute;
    top:0;
    right:0px;
    bottom:0px;
    background: $color-second;
    width:0px;
    transition: width 0.5s ease;
    
    .gnb {
      .sub-menu {
        display: none;
      }
    }
  }
  .active {
    width: 100%;
  }