@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap);
<<<<<<< HEAD
=======
@import "./style.scss";
>>>>>>> 1c5e02bdbb7dced72991f606b734f0d9f6f6ce88

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: {
        weight: $font-light;
        size: 16px;
        family: $font;
    }
}
ol,
ul {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: $color-a;
}
strong,
span {
    display: block;
}
address {
    font-style: normal;
}
img {
    display: block;
    width: 100%;
}
img,
input,
textarea,
select {
    vertical-align: middle;
}
h1 {
<<<<<<< HEAD
    font-size: 30px;
=======
    font-weight: $font-regular;
    font-size: 4.167rem;  // 50pt
>>>>>>> 1c5e02bdbb7dced72991f606b734f0d9f6f6ce88
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 16px;
}
header,
nav,
main,
section,
footer {
    display: block;
}