@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
}

//***********header***********
header {
    @include header-style();
}


//***********main***********
main {
    width: $width-wide;
    .inform {
        @include inform-title();
        
        @include menu-list();


        .list-box {
            display: flex;
            flex-direction: column;
            width: $width-wide;
            margin: 20px 0 180px;
            
            @include responsive(large-screens) {
                margin-top: 0;
                margin-bottom: 160px;
            }

            .list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: $width-wide;
                padding: 40px 0;
                border-top: 1px solid $inform-line-gray;
                border-bottom: 1px solid $inform-line-gray;
                cursor: pointer;
                transition: box-shadow 0.3s ease;
                
                &:hover {
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                }

                @include number();

                .list-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: $width-wide; 
                    margin-right: 15px;
                    // background-color: aquamarine;

                    @include responsive(large-screens) {
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: 35px;
                    }

                    @include list-title();

                    .receipt {
                        ul {
                            display: flex;
                            align-items: center;
                            margin-top: 20px;
                            width: $width-wide;
                            // background-color: lightgoldenrodyellow;

                            @include responsive(large-screens) {
                                justify-content: space-between;
                                width: 350px;
                                margin-top: 0;
                            }
                             .status {
                                margin-right: 15px;
                                width: 80px;  // 120px
                                height: 20px;
                                line-height: 20px;
                                text-align: center;
                                font: {
                                    weight: $font-regular;
                                    size: 0.875rem; 
                                }
                                color: $color-second;
                                background-color: $color-point;

                                @include responsive(large-screens) {
                                    width: 100px;
                                    height: 25px;
                                    line-height: 25px;
                                    margin-right: 0;
                                    font-size: 1rem;
                                }
                            }
    
                            .receipt-term {
                                // width: 430px;
                                p {
                                    font: {
                                        weight: $font-regular;
                                        size: 0.875rem;
                                    }
                                    color: $color-gray;
                                    // background-color: lightsalmon;

                                    @include responsive(large-screens) {
                                        width: 230px;
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }  // list-content

            }
            .list:first-child {
                border-top: 2px solid $inform-line-gray;
            }
            .list:last-child {
                border-bottom: 2px solid $inform-line-gray;
            }
        }  // list-box
    }  // inform
}  // main

//***********footer***********
footer {
    @include footer-style();
}