@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        position: relative;
        padding: 0 10px;
    }
}

//***********header***********
header {
    @include header-style();
}


//***********main***********
main {
    width: $width-wide;

    .inform {
        @include inform-title();

        @include menu-list();


        .list-box {
            display: flex;
            flex-direction: column;
            width: $width-wide;
            margin: 20px 0 180px;
            
            @include responsive(large-screens) {
                margin-top: 0;
                margin-bottom: 160px;
            }

            .list {
                width: $width-wide;
                padding: 40px 0;
                border-top: 1px solid $inform-line-gray;
                border-bottom: 1px solid $inform-line-gray;
                cursor: pointer;
                transition: box-shadow 0.3s ease;
                
                &:hover {
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                }


                ul {
                    display: flex;
                    align-items: center;

                    @include number();

                    .list-content {
                        width: $width-wide; 
                        margin-right: 10px;
                        // background-color: aquamarine;
    
                        @include responsive(large-screens) {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-right: 35px;
                        }
    
                        @include list-title();
                        

                        .list-date {
                            margin-top: 10px;
                            time {
                                font: {
                                    weight: $font-regular;
                                    size: 0.875rem;
                                }
                                color: $color-gray;
                            }

                            @include responsive(large-screens) {
                                margin-top: 0;
                                font-size: 1rem;
                            }
                        }
                    } // list-content
                }  // ul
            }  // list
            .list:first-child {
                border-top: 2px solid $inform-line-gray;
            }
            .list:last-child {
                border-bottom: 2px solid $inform-line-gray;
            }
        }  // list-box

        @include page-number();        
    }  // inform
}  // main

//***********footer***********
footer {
    @include footer-style();
}