@mixin responsive($break) {
    @if $break == small-screens {
        @media only screen and (min-width:$berak-small) {
            @content;
        };
    }
    @else if $break == large-screens {
        @media only screen and (min-width:$break-large) {
            @content;
        };
    }
}

@mixin inform-title() {
    .inform-title {
        margin: 80px 0 35px;
        text-align: center;
        font-size: 2.667rem;
        // background-color: aquamarine;
        opacity: 0;
        transition: opacity 0.5s ease;
        
        @include responsive(large-screens) {
            margin-bottom: 30px;
            font: {
                weight: $font-semibold;
                size: 3rem;
            }
            text-align: left;
        }
    }
}



@mixin menu-list() {
    .menu-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: $width-wide;
        margin: auto;
        opacity: 0;
        transition: opacity 0.5s ease;


        ul {
            display: flex;
            justify-content: space-between;
            width: 150px;

            @include responsive(large-screens) {
                width: 200px;
            }

            li {
                a {
                    font: {
                        weight: $font-regular;
                        size: 1.167rem;
                    }

                    @include responsive(large-screens) {
                        font-size: 1.667rem;
                    }
                }
            }

            .menu-title {
                &::after {
                    display: block;
                    content: '';
                    width: $width-wide;
                    height: 2px;
                    background-color: $color-point;
                    transform: scaleX(0);
                    transition: all 0.5s ease;
                }

                &:hover::after {   
                    transform: scaleX(1);  /* 1 = 100% */
                }
            }
            .selected::after { // selected : 현재 페이지 고정 시 활성화
                transform: scaleX(1);
              }

        }
        
        .search {
            position: relative;
            width: 40%;

            @include responsive(large-screens) {
                width: 360px;
            }

            #search-box {
                display: none;  
                padding-left: 10px;
                width: $width-wide;
                height: 30px;
                border: 1px solid #727272;
                border-radius: 8px;

                @include responsive(large-screens) {
                    display: block;
                    height: 40px;
                    border: 2px solid #727272;
                    border-radius: 10px;
                }

                &:focus {
                    outline: none;
                }
            }

            img {
                width: 18px;
                cursor: pointer;
                position: absolute;
                right: 10px; top: 50%;
                transform: translateY(-50%);

                @include responsive(large-screens) {
                   width: 20px;
                }
            }
        }
    }  // menu-list
}



@mixin number() {
    .fixed-number,
    .list-number {
        width: 15%;
        margin-left: 10px;
        margin-right: 10px;  
        // background-color: bisque;
        font: {
            weight: $font-medium;
            size: 0.875rem; 
        }
        text-align: center;

        @include responsive(large-screens) {
            margin-left: 65px;
            margin-right: 80px;
            width: 70px;
            font: {
                weight: $font-regular; 
                size: 1.167rem;
            }
        }
    }
    
    .fixed-number {
        color: $color-point;
    }
}




@mixin list-title() {
    font: {
        weight: $font-regular;
        size: 1rem; 
    }

    @include responsive(large-screens) {
        font-size: 1.333rem; 
        // background-color: lightgreen;
    }
}

@mixin page-number() {
    .page-number {
        margin: auto;
        margin: -100px 0 180px;
        // background-color: aqua;

        @include responsive(large-screens) {
            margin: -80px 0 160px;
        }
        ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 205px;
            margin: auto;

            // background-color: aquamarine;

            @include responsive(large-screens) {
                width: 215px;
            }

            li {
                a {
                    font: {
                        weight: $font-regular;
                        size: 1.167rem;
                    } 

                    @include responsive(large-screens) {
                        font-size: 1.333rem;  // 16pt
                    }
                }
            }

            .arrow {
                a {
                    &:hover {
                       font-weight: $font-semibold;
                    }
                }
            }
            .number {
               a {
                    &:hover,
                    &.num-selected {
                        font-weight: $font-medium;
                        color: $color-point;
                        text-decoration: underline $color-point;
                    }
                } 
            }


            .single-left-arrow {
                padding-right: 32px;
            }
            .num1 {
                padding-right: 45px;
            }
            .single-right-arrow {
                padding-left: 32px;
            }
        }
    }  // page-number
}