@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2.777%;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        position: relative;
        padding: 0;
    }
}

//***********header***********
header {
    @include header-style();
}


//***********main***********
main {
    .news {
        width: $width-wide;

        .news-title {
            margin: 80px 0 50px;
            text-align: center;
            font-size: 2.667rem;
            // background-color: aquamarine;
            opacity: 0;
            transition: opacity 2s ease;
            
            @include responsive(large-screens) {
                margin-bottom: 10px;
                font: {
                    weight: $font-semibold;
                    size: 3rem;
                }
                text-align: left;
            }
        }


        .search {
            position: relative;
            justify-content: right;
            width: $width-wide;
            opacity: 0;
            transition: opacity 2s ease;

            @include responsive(large-screens) {
                display: flex;
                justify-content: right;
                width: $width-wide;
            }

            #search-box {
                width: $width-wide;
                height: 35px;
                padding-left: 10px;
                border: 2px solid #727272;
                border-radius: 10px;

                @include responsive(large-screens) {
                    width: 360px;                
                    height: 40px;
                }

                &:focus {
                    outline: none;
                }
            }

            img {
                position: absolute;
                right: 10px; top: 50%;
                transform: translateY(-50%);
                width: 20px;
                cursor: pointer;
            }
        }  // search


        .news-content-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: $width-wide;
            margin: 60px 0 180px;

            @include responsive(large-screens) {
                margin: 30px 0 160px;
            }

            div.row-box {
                width: $width-wide;

                @include responsive(large-screens) {
                    display: flex;
                    flex-direction: row;
                    // justify-content: space-between;
                }

                .box {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-bottom: 33px;
                    // height: 500px;
                    cursor: pointer;
                    opacity: 0;
                    transform: translateY(50px);
                    transition: opacity 1s ease, transform 1s ease;

                    @include responsive(large-screens) {
                        margin-right: 26.6px;
                        margin-bottom: 50px;
                        width: 340px;
                    }
                    
                    &.visible {
                        opacity: 1;
                        transform: translateY(0);
                    }

                    &:last-child {
                        @include responsive(large-screens) {
                            margin-right: 0;
                        }
                    }

                    .news-image {
                        position: relative;
                        width: $width-wide;
                        height: 270px;
                        overflow: hidden;
                        img {
                            height: 100%;
                            object-fit: cover;
                            transition: transform 1s;
                        }

                        @include responsive(large-screens) {
                            height: 290px;
                        }
                    }

                    .news-txt {
                        padding: 33px 20px;
                        background-color: $news-gray;

                        @include responsive(large-screens) {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 200px;
                        }

                        .news-content-title {
                            margin-bottom: 30px;
                            width: $width-wide;
                            font: {
                                weight: $font-light;
                                size: 1.167rem; 
                            }
                            // background-color: bisque;

                            @include responsive(large-screens) {
                                margin-bottom: 0;
                                font-weight: $font-regular;
                            }
                        }

                        time {
                            width: 17.647%;  
                            font: {
                                weight: $font-regular;
                                size: 0.875rem;
                            }
                            color: $color-gray;
                            // background-color: aqua;

                            @include responsive(large-screens) {
                                width: 100px;
                                font: {
                                    weight: $font-regular;
                                    font-size: 1rem;
                                }
                            }
                        }
                    }

                    &:hover {
                        .news-image {
                            img {
                                transform: scale(1.05);
                            }
                        }
                        .news-txt {
                            background-color: $color-point;
                            .news-content-title,
                            time {
                                color: $color-second;
                            }
                        }
                    } 
                        
                } // box  point             
            }  // row-box
        }  // news-content-box
    }  // news
}  // main
//***********footer***********
footer {
    @include footer-style();
}