@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

strong,
span {
  display: block;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
}

img,
input,
textarea,
select {
  vertical-align: middle;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

header,
nav,
main,
section,
footer {
  display: block;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 150px;
  padding: 0 20px;
}
header .logo-gnb-rightmenu .logo-gnb-menu-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box {
    position: relative;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .logo img {
  margin-top: 36px;
  width: 182px;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .logo img {
    margin-top: 41px;
    width: 191px;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu {
    margin-top: 70px;
    margin-left: -43px;
    width: 616px;
    display: block;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu .gnb {
  display: flex;
  justify-content: space-between;
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu .gnb li a.gnb-title {
  font-size: 1.1rem;
  font-weight: 400;
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu .gnb li a.gnb-title:hover {
  color: #ff6000;
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu .gnb li .sub-menu {
  display: none;
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .main-menu .gnb li .sub-menu-hover {
  display: block;
  display: flex;
  flex-direction: column;
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 35px;
  margin-top: 65px;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu {
    display: block;
    margin-top: 70px;
    margin-right: 35px;
    width: 85px;
    height: 21px;
  }
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul .login {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul .login {
    display: block;
    width: 27px;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul .search {
  width: 32px;
  margin-right: 10px;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu ul .search {
    width: 21px;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu #mobile-menu {
  position: relative;
  width: 40px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu #mobile-menu {
    display: none;
  }
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu #mobile-menu .bar {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #000;
  transition: transform 0.3s ease;
  transform-origin: center;
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu #mobile-menu.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 10px);
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu #mobile-menu.active .bar:nth-child(2) {
  transform: scale(0);
}
header .logo-gnb-rightmenu .logo-gnb-menu-box .right-menu #mobile-menu.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-10px, -10px);
}

main .container section.main-title h2 {
  margin: 120px 0 50px 0;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  animation-duration: 0.5s;
  animation-name: move;
}
@keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) {
  main .container section.main-title h2 {
    font-size: 3rem;
    font-weight: 400;
  }
}
main .container section.main-title p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  color: #9b9b9b;
  animation-duration: 2s;
  animation-name: move;
}
@keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) {
  main .container section.main-title p {
    width: 100%;
    font-size: 1.2rem;
  }
}
main .container section.main-title img {
  width: 375px;
  height: 310px;
  margin: 0 auto;
  animation-duration: 4s;
  animation-name: move;
}
@keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) {
  main .container section.main-title img {
    width: 50%;
    height: auto;
  }
}
main .container section.main-title .sec1-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}
main .container section.main-title .sec1-menu div:first-child {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 0.9rem;
  font-weight: 400;
  border: 1px solid #c2c2c2;
  border-right: none;
  background-color: #ff6000;
}
main .container section.main-title .sec1-menu div:first-child a {
  color: #fff;
}
main .container section.main-title .sec1-menu div:nth-child(2) {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 0.9rem;
  font-weight: 400;
  border: 1px solid #c2c2c2;
  border-right: none;
}
main .container section.main-title .sec1-menu div:nth-child(2) a:hover {
  color: #ff6000;
}
main .container section.main-title .sec1-menu div:last-child {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 0.9rem;
  font-weight: 400;
  border: 1px solid #c2c2c2;
}
main .container section.main-title .sec1-menu div:last-child a:hover {
  color: #ff6000;
}
main hr {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: #000;
}
main section.box1 {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px dashed black;
  border-left: none;
  border-right: none;
  border-top: none;
  background-image: url(../images/1900_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -700px;
}
@media only screen and (min-width: 1024px) {
  main section.box1 {
    width: 100%;
    background-image: url(../images/1900_bg.png);
    background-position-x: -200px;
    background-size: cover;
  }
}
main section.box1 .box1-line {
  width: 100%;
  margin-bottom: 2px;
  border: 1px dashed black;
  border-left: none;
  border-right: none;
  border-top: none;
}
main section.box1 .box1-line .container .box1-txt {
  height: 100%;
}
main section.box1 .box1-line .container .box1-txt .box1-title {
  padding-top: 90px;
}
main section.box1 .box1-line .container .box1-txt .box1-title h2 {
  width: 53%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left;
  font-size: 25px;
}
@media only screen and (min-width: 1024px) {
  main section.box1 .box1-line .container .box1-txt .box1-title h2 {
    margin-top: 3%;
    margin-left: 54%;
  }
}
main section.box1 .box1-line .container .box1-txt .box1-title p {
  width: 53%;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 400;
  color: #565656;
}
@media only screen and (min-width: 1024px) {
  main section.box1 .box1-line .container .box1-txt .box1-title p {
    width: 30%;
    margin-bottom: 1%;
    margin-left: 54%;
  }
}
main section.box1 .box1-line .container .box1-txt ul.years {
  width: 53%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.2rem;
  color: #565656;
}
main section.box1 .box1-line .container .box1-txt ul.years li {
  list-style-type: circle;
  color: black;
}
@media only screen and (min-width: 1024px) {
  main section.box1 .box1-line .container .box1-txt ul.years li {
    margin-left: 58%;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
main section.box1 .box1-line .container .box1-txt ul.years li span.orange {
  margin-top: 50px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #ff6000;
}
@media only screen and (min-width: 1024px) {
  main section.box1 .box1-line .container .box1-txt ul.years li span.orange {
    margin-top: 0;
    padding-top: 30px;
  }
}
main section.box1 .box1-line .container .box1-txt ul.years li span.black {
  margin-top: 50px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #000;
}
@media only screen and (min-width: 1024px) {
  main section.box1 .box1-line .container .box1-txt ul.years li span.black {
    margin-top: 0;
    padding-top: 30px;
  }
}
main section.box1 .box1-line .container .box1-txt ul.years li:last-child {
  padding-bottom: 150px;
}
main section.box1 .box1-line .container .box1-txt div.line-circle div.vertical-dotted-line {
  position: absolute;
  left: 9%;
  top: 0;
  border: 0.5px dashed black;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  main section.box1 .box1-line .container .box1-txt div.line-circle div.vertical-dotted-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
main section.box1 .box1-line .container .box1-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 {
  position: absolute;
  left: 2px;
  top: 0;
  height: 100%;
  border: 0.5px dashed black;
}
main section.box1 .box1-line .container .box1-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 div.outer-cicle {
  position: absolute;
  left: -9px;
  top: 110px;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: white;
}
@media only screen and (min-width: 1024px) {
  main section.box1 .box1-line .container .box1-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 div.outer-cicle {
    top: 145px;
  }
}
main section.box1 .box1-line .container .box1-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 div.outer-cicle div.inner-cicle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
}
main section.box1 .box1-line .container .box1-txt div.line-circle div.vertical-dotted-line img {
  position: absolute;
  bottom: -5px;
  left: -28px;
  width: 60px;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  main section.box1 .box1-line .container .box1-txt div.line-circle div.vertical-dotted-line img {
    width: 150px;
    bottom: -5px;
    left: -73px;
  }
}
main section.box1 .box1-line .container .sec1-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
main section.box1 .box1-line .container .sec1-menu div:first-child {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 0.9rem;
  font-weight: 400;
  border: 1px solid #c2c2c2;
  border-right: none;
}
main section.box1 .box1-line .container .sec1-menu div:first-child a:hover {
  color: #ff6000;
}
main section.box1 .box1-line .container .sec1-menu div:nth-child(2) {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 0.9rem;
  font-weight: 400;
  border: 1px solid #c2c2c2;
  border-right: none;
  background-color: #ff6000;
}
main section.box1 .box1-line .container .sec1-menu div:nth-child(2) a {
  color: #fff;
}
main section.box1 .box1-line .container .sec1-menu div:last-child {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 0.9rem;
  font-weight: 400;
  border: 1px solid #c2c2c2;
}
main section.box1 .box1-line .container .sec1-menu div:last-child a:hover {
  color: #ff6000;
}
main section.box2 {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px dashed black;
  border-left: none;
  border-right: none;
  border-top: none;
  background-image: url(../images/1925m_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1024px) {
  main section.box2 {
    background-image: url(../images/1925_bg.jpg);
    background-position-x: 500px;
    background-size: cover;
  }
}
main section.box2 .box2-line {
  width: 100%;
  margin-bottom: 2px;
  border: 1px dashed black;
  border-left: none;
  border-right: none;
  border-top: none;
}
main section.box2 .box2-line .container .box2-txt {
  height: 100%;
}
main section.box2 .box2-line .container .box2-txt .box2-title {
  padding-top: 90px;
}
main section.box2 .box2-line .container .box2-txt .box2-title h2 {
  width: 53%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left;
  font-size: 25px;
}
@media only screen and (min-width: 1024px) {
  main section.box2 .box2-line .container .box2-txt .box2-title h2 {
    margin-left: 0%;
    padding-right: 7%;
    text-align: right;
  }
}
main section.box2 .box2-line .container .box2-txt .box2-title p {
  width: 53%;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 400;
  color: #565656;
}
@media only screen and (min-width: 1024px) {
  main section.box2 .box2-line .container .box2-txt .box2-title p {
    width: 28%;
    margin-left: 17.8%;
    text-align: right;
  }
}
main section.box2 .box2-line .container .box2-txt ul.years {
  width: 53%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.2rem;
  color: #565656;
}
main section.box2 .box2-line .container .box2-txt ul.years li {
  list-style-type: circle;
  color: black;
}
main section.box2 .box2-line .container .box2-txt ul.years li span.orange {
  margin-top: 50px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #ff6000;
}
main section.box2 .box2-line .container .box2-txt ul.years li span.black {
  margin-top: 50px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #000;
}
main section.box2 .box2-line .container .box2-txt ul.years li:last-child {
  padding-bottom: 150px;
}
main section.box2 .box2-line .container .box2-txt div.line-circle div.vertical-dotted-line {
  position: absolute;
  left: 9%;
  top: 0;
  border: 0.5px dashed black;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  main section.box2 .box2-line .container .box2-txt div.line-circle div.vertical-dotted-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
main section.box2 .box2-line .container .box2-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 {
  position: absolute;
  left: 2px;
  top: 0;
  height: 100%;
  border: 0.5px dashed black;
}
main section.box2 .box2-line .container .box2-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 div.outer-cicle {
  position: absolute;
  left: -9px;
  top: 110px;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: white;
}
main section.box2 .box2-line .container .box2-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 div.outer-cicle div.inner-cicle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
}
main section.box3 {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px dashed black;
  border-left: none;
  border-right: none;
  border-top: none;
  background-image: url(../images/2004m_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
main section.box3 .box3-line {
  width: 100%;
  margin-bottom: 2px;
  border: 1px dashed black;
  border-left: none;
  border-right: none;
  border-top: none;
}
main section.box3 .box3-line .container .box3-txt {
  height: 100%;
}
main section.box3 .box3-line .container .box3-txt .box3-title {
  padding-top: 90px;
}
main section.box3 .box3-line .container .box3-txt .box3-title h2 {
  width: 53%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left;
  font-size: 25px;
}
main section.box3 .box3-line .container .box3-txt .box3-title p {
  width: 53%;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 400;
  color: #565656;
}
main section.box3 .box3-line .container .box3-txt ul.years {
  width: 53%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.2rem;
  color: #565656;
}
main section.box3 .box3-line .container .box3-txt ul.years li {
  list-style-type: circle;
  color: black;
}
main section.box3 .box3-line .container .box3-txt ul.years li span.orange {
  margin-top: 50px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #ff6000;
}
main section.box3 .box3-line .container .box3-txt ul.years li span.black {
  margin-top: 50px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #000;
}
main section.box3 .box3-line .container .box3-txt ul.years li:last-child {
  padding-bottom: 150px;
}
main section.box3 .box3-line .container .box3-txt div.line-circle div.vertical-dotted-line {
  position: absolute;
  left: 9%;
  top: 0;
  border: 0.5px dashed black;
  height: 100%;
}
main section.box3 .box3-line .container .box3-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 {
  position: absolute;
  left: 2px;
  top: 0;
  height: 100%;
  border: 0.5px dashed black;
}
main section.box3 .box3-line .container .box3-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 div.outer-cicle {
  position: absolute;
  left: -9px;
  top: 110px;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: white;
}
main section.box3 .box3-line .container .box3-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 div.outer-cicle div.inner-cicle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
}
main section.box4 {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px dashed black;
  border-left: none;
  border-right: none;
  border-top: none;
  background-image: url(../images/2011m_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
main section.box4 .box4-line {
  width: 100%;
  margin-bottom: 2px;
  border: 1px dashed black;
  border-left: none;
  border-right: none;
  border-top: none;
}
main section.box4 .box4-line .container .box4-txt {
  height: 100%;
}
main section.box4 .box4-line .container .box4-txt .box4-title {
  padding-top: 90px;
}
main section.box4 .box4-line .container .box4-txt .box4-title h2 {
  width: 53%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left;
  font-size: 25px;
}
main section.box4 .box4-line .container .box4-txt .box4-title p {
  width: 53%;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 400;
  color: #565656;
}
main section.box4 .box4-line .container .box4-txt ul.years {
  width: 53%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.2rem;
  color: #565656;
}
main section.box4 .box4-line .container .box4-txt ul.years li {
  list-style-type: circle;
  color: black;
}
main section.box4 .box4-line .container .box4-txt ul.years li span.orange {
  margin-top: 50px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #ff6000;
}
main section.box4 .box4-line .container .box4-txt ul.years li span.black {
  margin-top: 50px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #000;
}
main section.box4 .box4-line .container .box4-txt ul.years li:last-child {
  padding-bottom: 150px;
}
main section.box4 .box4-line .container .box4-txt div.line-circle div.vertical-dotted-line {
  position: absolute;
  left: 9%;
  top: 0;
  border: 0.5px dashed black;
  height: 100%;
}
main section.box4 .box4-line .container .box4-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 {
  position: absolute;
  left: 2px;
  top: 0;
  height: 100%;
  border: 0.5px dashed black;
}
main section.box4 .box4-line .container .box4-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 div.outer-cicle {
  position: absolute;
  left: -9px;
  top: 110px;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: white;
}
main section.box4 .box4-line .container .box4-txt div.line-circle div.vertical-dotted-line div.vertical-dotted-line2 div.outer-cicle div.inner-cicle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
}

footer {
  position: relative;
  width: 100%;
}
footer .footer-img img {
  width: 100%;
}
footer .footerlogo-info {
  padding: 35px 20px;
}
footer .footerlogo-info .footer-content-box {
  position: relative;
  width: 84%;
  margin: 0 auto;
  background-color: lightpink;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box {
    display: flex;
    width: 82%;
    height: 150px;
  }
}
footer .footerlogo-info .footer-content-box .footer-logo {
  margin-bottom: 30px;
  background-color: aquamarine;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-logo {
    margin: 0 6% 0 0;
    width: 290px;
  }
}
footer .footerlogo-info .footer-content-box .footer-logo h2 {
  font-weight: 100;
  font-size: 2.5rem;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-logo h2 {
    line-height: 1.2;
    font-size: 3.75rem;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box {
    display: flex;
    flex-direction: column;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info {
    width: 100%;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info div strong {
  font-weight: 400;
  font-size: 1rem;
  color: #717171;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info div strong {
    margin-bottom: 15px;
    font-size: 1.167rem;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info div .long-line {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2px;
  margin: 10px 0;
  background-color: #b0afaf;
}
footer .footerlogo-info .footer-content-box .footer-info-box .info div .long-line .line {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 41px;
  height: 100%;
  background-color: #717171;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info div .long-line .line {
    width: 33px;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info .address {
  width: 45%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info .address {
    width: 40%;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info .tel {
  width: 40%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info .tel {
    width: 35%;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info .sns {
  width: 15%;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info .sns {
    width: 25%;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .info .txt {
  width: 80%;
  font-weight: 400;
  font-size: 0.83rem;
  color: #b0afaf;
}
@media only screen and (min-width: 1024px) {
  footer .footerlogo-info .footer-content-box .footer-info-box .info .txt {
    width: 75%;
    font-size: 1rem;
  }
}
footer .footerlogo-info .footer-content-box .footer-info-box .copyright {
  width: 100%;
  margin-top: 0;
}
footer .footerlogo-info .footer-content-box .footer-info-box .copyright p {
  font-weight: 400;
  font-size: 0.83rem;
  color: #b0afaf;
}
footer .fixed-menu {
  position: fixed;
  right: 60px;
  bottom: 100px;
  z-index: 10;
}
footer .fixed-menu a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #000;
}/*# sourceMappingURL=intro.css.map */