@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../../scss/header.scss";
@import "../../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: antiquewhite;

    @include responsive(large-screens) {
        position: relative;
        padding: 0 10px;
    }
}

//***********header***********
header {
    @include header-style();
}


//***********main***********
main {
    .detail-page {
        @include title-menu-list();

        .content-box {
            margin-top: 20px;

            @include responsive(large-screens) {
                 margin-top: 30px;
            }

            @include main-title-box();

            .txt-box {
                // height: 1000px;
                padding: 75px 0;
                border-top: 2px solid $inform-line-gray;
                border-bottom: 2px solid $inform-line-gray;

                @include responsive(large-screens) {
                    padding: 50px 0;
                }

                @include txt-box();

                .paragraph_2,
                .paragraph_3,
                .paragraph_4,
                .paragraph_5,
                .paragraph_6,
                .paragraph_7,
                .paragraph_8 {
                    margin-top: 150px;

                    @include responsive(large-screens) {
                        margin-top: 80px;
                    }
                }
            }  // txt-box

            @include attachment-box();
        }  // content-box

        @include list-box();
    }  // detail-page
}  // main


//***********footer***********
footer {
    @include footer-style();
}