@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    // background-color: antiquewhite;
}

//***********header***********
header {
    @include header-style();
}

//************main***************

main {
    .sec1 {
        padding-top: 100px;
        // border-bottom: 1px solid #c2c2c2;
        // background-color: antiquewhite;
        @include responsive (large-screens) {
            // background-color: #914c21;
            margin-bottom: 150px;
        }
        .container {
            .sec1-title {
                text-align: center;
                h2 {
                    font-size: 1.8rem;
                    font-weight: $font-regular;
                    @include responsive (large-screens) {
                        margin-top: 80px;
                        font-size: 2rem;
                        color: #8d8f8e;
                    }
                }
                p {
                    padding: 3px 0 50px 0;
                    font-size: 2.3rem;
                    font-weight: $font-regular;
                    @include responsive (large-screens) {
                        font-weight: $font-regular;
                        font-size: 3rem;
                        
                    }
                }
                img {
                    width: 50%; height: auto;
                    margin: 0 auto;
                    @include responsive (large-screens) {
                        padding: 20px 0 20px 0;
                        width: 20%;
                    }
                }
            }
            .sec1-info {
                margin-top: 30px;
                text-align: center;
                strong {
                    width: 70%;
                    margin: 0 auto;
                    padding: 30px 0 3px 0;
                    font-size: 1.1rem;
                    border-top: 2px solid #f1f1f1;
                    // background-color: #db9061;
                    @include responsive (large-screens) {
                        border-style: none;
                        font-size: 1.2rem;
                    }
                }
                p {
                   width: 70%;
                   margin: 0 auto;
                   padding-bottom: 10px;
                   font-size: 0.9rem;
                   color: #565656;
                   @include responsive (large-screens) {
                    padding-bottom: 30px;
                    font-size: 1rem;
                    font-weight: $font-regular;
                    color: #ADB4B0;
                   }
                   
                }
            } //sec1-info
            .sec1-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                margin: 0 auto;
                padding-top: 20px;
                // background-color: #914c21;
                @include responsive (large-screens) {
                    width: 50%;
                }
                div:first-child {
                    width: 100%; height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 0.9rem;
                    font-weight: $font-regular;
                    border: 1px solid #c2c2c2;
                    border-right: none;
                    // background-color: #ADB4B0;
                    @include responsive (large-screens) {
                        height: 60px;
                        line-height: 60px;
                        font-size: 1rem;
                        font-weight: $font-semibold;
                    }
                    a:hover {
                        color: $color-point;
                    }
                }
                div:nth-child(2) {
                    width: 100%; height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 0.9rem;
                    font-weight: $font-regular;
                    border: 1px solid #c2c2c2;
                    border-right: none; 
                    background-color: $color-point;
                    @include responsive (large-screens) {
                        height: 60px; 
                        line-height: 60px;
                        font-size: 1rem;
                        font-weight: $font-semibold;
                    }

                    a {
                        color: $color-second;
                    }
                }
                div:last-child {
                    width: 100%; height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 0.9rem;
                    font-weight: $font-regular;
                    border: 1px solid #c2c2c2;
                    // background-color: #ADB4B0;
                    @include responsive (large-screens) {
                        height: 60px;
                        line-height: 60px;
                        font-size: 1rem;
                        font-weight: $font-semibold;
                    }
                     a:hover {
                        color: $color-point;
                     }
                }
            }
        } // container
    } //sec1

    .sec2 {
        margin-top: 100px;
        padding: 100px 0 100px 0;
        background-image: url(../images/overlay_bg.png);
        // background-position-y: 100px;
        // background-position-x: -100px;
        background-repeat: no-repeat;
        background-size: cover;
        .container {
            .sec2-title {
                
                text-align: center;
                // background-color: #ADB4B0;
                padding-top: 30px;
                padding-bottom: 30px;
                h2 {
                    font-weight:$font-semibold;
                    padding: 0 0 50px 0;
                    @include responsive (large-screens) {
                        font-size: 2.1rem;
                        font-weight: $font-semibold;
                        // background-color: #8d8f8e;
                    }
                }
                p {
                    text-align: center;
                    width: 70%;
                    margin: auto;
                    padding-bottom: 20px;
                    font-size: rem;
                    font-weight: $font-regular;
                    color: #565656;

                    @include responsive (large-screens) {
                        font-size: 1rem;
                    }
                }
            }
            .img-box {
                width: 70%;
                margin: 0 auto;
                
                img {
                    margin: 0 auto;
                    width: 50%;
                    padding-bottom: 30px;
                    @include responsive (large-screens) {
                        width: 50%;
                        padding-bottom: 80px;
                        padding-top: 50px;
                        // padding-right: 10px;

                    }
                }
                .img-box-inner {
                    display: flex;
                    align-items: center;
                    img {
                        
                    }
                    p{
                        font-size: 0.7rem;
                        padding: 0 0 150px 0;
                        color: #c2c2c2;
                        // background-color: #914c21;
                        @include responsive (large-screens) {
                            width: 300px; height: 60px; 
                            line-height: 150px;
                            padding-left: 135px;
                            // background-color: #914c21;
                        }
                    }
                }
            }
        }
    } // sec2

    .sec3 {
        padding: 100px 0 100px 0;
        text-align: center;
        // background-color: rgb(255, 251, 243);
        // background: linear-gradient(to bottom, #ffffff,#ffffff,#fffbf9,#ffffff,);

   
        .container {
            @include responsive (large-screens) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .sec3-box1 {
                @include responsive (large-screens) {
                    // background-color: #914c21;
                }
                // width: 80%;
                strong {
                    font-size: 1.2rem;
                    padding: 0px 0 30px 0;
                    // background-color: #914c21;
                }
                img {
                    width: 60%;
                    margin: 0 auto;
                }
            }
            p {
                margin-top: 90px;
                font-size: 0.7rem;
                color: #c2c2c2;
                @include responsive (large-screens) {
                    
                }
            }
            .sec3-box2 {
                // width: 80%;
                // background-color: #914c21;
                @include responsive (large-screens) {
                    
                }
                strong {
                    // color: $color-second;
                    // font-weight: $font-regular;
                    font-size: 1.2rem;
                    padding: 100px 0 30px 0;
                    // background-color: #914c21;
                    @include responsive (large-screens) {
                        padding: 0 0 28px 0;
                    }
                }
                img {
                    width: 60%;
                    margin: 0 auto;
                    @include responsive (large-screens) {
                        padding: 0 0 10px 0;
                    }
                }
            }
            p {
                margin-top: 90px;
                font-size: 0.7rem;
                color: #c2c2c2;
            }
            .sec3-box3 {
                // width: 80%;
                strong {
                    // color: $color-second;
                    // font-weight: $font-regular;
                    font-size: 1.2rem;
                    padding: 100px 0 30px 0;
                    @include responsive (large-screens) {
                        font-size: 1.2rem;
                        line-height: 150px;
                        // padding: 0px 0 30px 0;
                    }
                }
                img {
                    width: 60%;
                    margin: 0 auto;
                    @include responsive (large-screens) {
                        padding-bottom: 200px;
                        // background-color: #914c21;
                    }
                }
            }
        }
    }

    .sec4 {
        margin-bottom: 200px;
        .sec4-title {
            // border-top: 1px solid #c2c2c2;
            text-align: center;
            h2 {
                // font-weight:$font-regular;
                padding: 100px 0 20px 0;
            }
            p {
                width: 70%;
                margin: auto;
                padding-bottom: 50px;
                font-weight: $font-regular;
            }
        }
        .wrap {
            position:relative;
            top:0;
            left:0;
            right:0;
            bottom:0;
            overflow:hidden;
            /* 라디오 인풋을 이용했으며 인풋에 라벨을 이어 버튼으로 사용하므로 인풋 자체는 보여질 필요가 없음, 인풋 자체는 보이지 않게 가림 */
            @include responsive (large-screens) {
                display: flex;
                justify-content: space-between;
                width: 100%;
                // background-color: #8d8f8e;
            }
            input.button {
                display:none;
            }
            
            /* 라디오 인풋에 체크가 되면, 인접한 .contents 상자를 보이게 함 */
            input[type=radio]:checked + .contents { 
                visibility: visible;
                max-height:500px;
                transform:scale(1,1);
                opacity:1;
            }
            /* 라디오 인풋, 모두 닫는 버튼 */
            .closer {
                position:absolute;
                top:0;
                right:0;
                display:inline-block;
                width:20px;
                height:20px;
                line-height:20px;
                background:#ADB4B0;
                text-align:center;
                font-size:16px;
                color:#fff;
                box-shadow:1px 1px 3px 5px rgba(0,0,0,0.02);
                cursor:pointer;
            }
            
            /* 닫기 버튼 애니메이션 효과, 삭제시 기능상 무방함 */
            input[type=radio].close:checked + .closer {
                transform:translate(0,-100%);
                -webkit-transition:transform .2s ease;
                transition:transform .2s ease;
            }
            input[type=radio].close:not(:checked) + .closer {
                transform:translate(0,0);
                -webkit-transition:transform .2s ease;
                transition:transform .2s ease;
            }
            
            /* 메뉴 버튼 디자인 */
            .label {
                height:200px;
                line-height:50px;
                width:100%;
                display:inline-block;
                float:left;
                overflow:hidden;
                cursor:pointer;
            }
            /*  메뉴 버튼에 들어갈 아이콘을 100px * 100px, 투명한 PNG 로 저장하여 아래의 경로에 연동해주면 됨 
                위쪽 코드 .label.a 부터 맨 아래코드 .label.e 까지가 메뉴버튼 오른쪽-> 왼쪽 순서 */
            .color1 {
                @include responsive (large-screens) {
                    width: 60%; 
                }
                .label.d {
                    width: 100%; height:100px;
                    background: linear-gradient(to bottom,#ff6000,#ff6000,#ff9b59,);
                    .rotate {
                        display:inline-block;
                        // background-color: #fff;
                        p {
                            position:relative;
                            width: 80%;
                            font-size:1rem;
                            padding-top: 20%;
                            line-height: 25px;
                            white-space: nowrap;
                            left:40%;
                            font-weight:500;
                            color:#fff;
                            @include responsive (large-screens) {
                                width: 100%
                            }
                        }
                    }
                }
                /* 컨텐츠 본문 */
                .contents {
                    position:relative;
                    visibility: collapse;
                    float:left;
                    height:auto;
                    width:100%;
                    transform:scale(1,0);
                    transform-origin:top;  
                    max-height:0;
                    transition:transform 0.2s ease-out, opacity 0.2s ease-out, max-height 0.1s ease-out;
                    opacity:0;
                    z-index:-1;
                    overflow:hidden;
                    // background-color: #ff6000;
                    .inner1 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular;
                        color: #fff;
                        background-color: rgba(255, 96, 0, 0.9);
                    }
                    .inner2 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px; 
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff;
                        background-color: rgba(255, 96, 0, 0.8); 
                        
                    }
                    .inner3 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff; 
                        background-color: rgba(255, 96, 0, 0.7); 
                        
                    }
                    .inner4 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff; 
                        background-color: rgba(255, 96, 0, 0.6); 
                        
                    }
                    .inner5 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff;   
                        background-color: rgba(255, 96, 0, 0.5); 
                        
                    }
                } // contents
            } // color1
    
            .color2 {
                @include responsive (large-screens) {
                    width: 30%; 
                }
                .label.d {
                    width: 100%; height:100px;
                    background:#914c21;
                    .rotate {
                        display:inline-block;
                        // background-color: #fff;
                        p {
                            position:relative;
                            font-size:1rem;
                            white-space: nowrap;
                            padding-top: 20%;
                            line-height: 25px;
                            left:40%;
                            font-weight:500;
                            color:#fff;
                        }
                    }
                }
                /* 컨텐츠 본문 */
                .contents {
                    position:relative;
                    visibility: collapse;
                    float:left;
                    height:auto;
                    width:100%;
                    transform:scale(1,0);
                    transform-origin:top;  
                    max-height:0;
                    transition:transform 0.2s ease-out, opacity 0.2s ease-out, max-height 0.1s ease-out;
                    opacity:0;
                    z-index:-1;
                    overflow:hidden;
                    // background-color: #ff6000;
                    .inner1 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular;
                        color: #fff;
                        background-color: rgba(255, 96, 0, 0.9);
                    }
                    .inner2 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff;
                        background-color: rgba(255, 96, 0, 0.8); 
                        
                    }
                    .inner3 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff;
                        background-color: rgba(255, 96, 0, 0.7); 
                        
                    }
                    .inner4 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff;  
                        background-color: rgba(255, 96, 0, 0.6); 
                        
                    }
                    .inner5 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff;
                        background-color: rgba(255, 96, 0, 0.5); 
                        
                    }
                } // contents
            } // color2
    
            .color3 {
                @include responsive (large-screens) {
                    width: 30%; 
                }
                .label.d {
                    width: 100%; height:100px;
                    background:#db9061;
                    .rotate {
                        display:inline-block;
                        // background-color: #fff;
                        p {
                            position:relative;
                            font-size:1rem;
                            padding-top: 20%;
                            line-height: 25px;
                            white-space: nowrap;
                            left:40%;
                            font-family: "arial";
                            font-weight:500;
                            color:#fff;
                        }
                    }
                }
                /* 컨텐츠 본문 */
                .contents {
                    position:relative;
                    visibility: collapse;
                    float:left;
                    height:auto;
                    width:100%;
                    transform:scale(1,0);
                    transform-origin:top;  
                    max-height:0;
                    transition:transform 0.2s ease-out, opacity 0.2s ease-out, max-height 0.1s ease-out;
                    opacity:0;
                    z-index:-1;
                    overflow:hidden;
                    // background-color: #ff6000;
                    .inner1 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff;
                        background-color: rgba(255, 96, 0, 0.9);
                    }
                    .inner2 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff; 
                        background-color: rgba(255, 96, 0, 0.8); 
                        
                    }
                    .inner3 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff;
                        background-color: rgba(255, 96, 0, 0.7); 
                        
                    }
                    .inner4 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff;  
                        background-color: rgba(255, 96, 0, 0.6); 
                        
                    }
                    .inner5 {
                        display: table;
                        width:100%;
                        height:75px; line-height: 75px;
                        padding-left: 11%;
                        font-weight: $font-regular; 
                        color: #fff; 
                        background-color: rgba(255, 96, 0, 0.5); 
                    }
                } // contents
            } // color3
        } // wrap
    } // sec4
} // main


//***********footer***********
footer {
    @include footer-style();
}