@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";

.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    // background-color: antiquewhite;
}

//***********header***********

header {
    @include header-style();
}

//********************main********************

main {
    
    .container {
        h2 {
            margin: 50px;
            text-align: center;
        }
        img {
            width: 20%; height: auto;
        }
        .div-box {
            width: 100%;
            margin: 0 auto;
            
            .boss {
                width: 70%;
                margin: auto;
                img {
                    margin: 0 auto;
                }   
                p {
                    width: 70%;
                    margin: 0 auto;
                    border: 1px solid #c2c2c2;
                    border-radius: 30%;
                    border-top-right-radius: 30%;

                    text-align: center;
                    font-weight: $font-regular;
                    font-size: 0.8rem;
                }       
            }

            .inner-box1 {
                display: flex;
                justify-content: space-between;
                
                .manager {
                    width: 70%;
                    img {
                        margin: 0 auto;
                    }
                    p {
                        width: 70%;
                        margin: 0 auto;
                        border: 1px solid #c2c2c2;
                        border-radius: 30%;
                        border-top-right-radius: 30%;
    
                        text-align: center;
                        font-weight: $font-regular;
                        font-size: 0.8rem;
                    }
                }
                .manager2 {
                    width: 70%;
                    img {
                        margin: 0 auto;
                    }
                    p {
                        width: 70%;
                        margin: 0 auto;
                        border: 1px solid #c2c2c2;
                        border-radius: 30%;
                        border-top-right-radius: 30%;
    
                        text-align: center;
                        font-weight: $font-regular;
                        font-size: 0.8rem;
                    }
                }
            }

            .inner-box2 {
                display: flex;
                justify-content: space-between;
                .emp {
                    width: 70%;
                    img {
                        margin: 0 auto;
                    }
                    p {
                        width: 70%;
                        margin: 0 auto;
                        border: 1px solid #c2c2c2;
                        border-radius: 30%;
                        border-top-right-radius: 30%;
    
                        text-align: center;
                        font-weight: $font-regular;
                    }
                }

                .emp {
                    img {
                        margin: 0 auto;
                    }
                    p {
                        width: 70%;
                        margin: 0 auto;
                        border: 1px solid #c2c2c2;
                        border-radius: 30%;
                        border-top-right-radius: 30%;
    
                        text-align: center;
                        font-weight: $font-regular;
                    }
                }

                .emp {
                    img {
                        margin: 0 auto;
                    }
                    p {
                        width: 70%;
                        margin: 0 auto;
                        border: 1px solid #c2c2c2;
                        border-radius: 30%;
                        border-top-right-radius: 30%;
    
                        text-align: center;
                        font-weight: $font-regular;
                    }
                }
            }

            .boss-curator {
                width: 70%;
                margin: auto;
                img {
                    margin: 0 auto;
                }
                p {
                    width: 70%;
                    margin: 0 auto;
                    border: 1px solid #c2c2c2;
                    border-radius: 30%;
                    border-top-right-radius: 30%;

                    text-align: center;
                    font-weight: $font-regular;
                }
            }
            .inner-box3 {
                display: flex;
                justify-content: space-between;
                .curator {
                    img {
                        margin: 0 auto;
                    }
                    p {
                        width: 70%;
                        margin: 0 auto;
                        border: 1px solid #c2c2c2;
                        border-radius: 30%;
                        border-top-right-radius: 30%;
    
                        text-align: center;
                        font-weight: $font-regular;
                    }
                }
                .curator {
                    img {
                        margin: 0 auto;
                    }
                    p {
                        width: 70%;
                        margin: 0 auto;
                        border: 1px solid #c2c2c2;
                        border-radius: 30%;
                        border-top-right-radius: 30%;
    
                        text-align: center;
                        font-weight: $font-regular;
                    }
                }
            }

        }   
















        /////////////////////////////////////////
        .tb {
            //  display: none;
            table {
                width: 100%;
                margin: 0 auto;
                border-collapse: collapse;
                @include responsive (large-screens) {
                    width: 100%; height: 100px;
                }
                thead {
                    border: 1px solid #e9e9e9;
                    background-color: #f3f3f3;
                    th {
                        font-size: 0.8rem;
                        @include responsive (large-screens) {
                            font-size: 1.3rem;
                        }
                    }
                    th:first-child {
                        width: 30%; height: 50px;
                        @include responsive (large-screens) {
                            width: 30%; height: 10px;
                        }
                    }
                    th:nth-child(2) {
                        width: 20%; height: 50px;
                    }
                    
                } // thead 
    
                tbody {
                    // background-color: aqua;
                    tr {
                        border: 1px solid #e9e9e9;
                        text-align: center;
                        width: 20%; height: 100px;
                        font-weight: $font-semibold;
                        font-size: 0.8rem;
    
                        @include responsive (large-screens) {
                            font-size: 1.2rem;
                            border-radius: 5%;
                        }
                    }
                }
                tfoot {
                    width: 100%;
                    font-size: 0.7rem;
                    text-align: center;
                    color: $color-second;
                    background-color: $color-a;
                    @include responsive (large-screens) {
                        width: 100%; height: 10px;
                        font-size: 1.2rem;
                    }
                    td {
                        padding: 20px;
                    }
                }
            } // table
        } // tb
    } // container
} // main