@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    // background-color: antiquewhite;
}

//***********header***********
header {
    @include header-style();
}


















//***********main***********
main {
    // background-color: aqua;
    .container {
        section.main-title {
            h2 {
                margin: 120px 0 50px 0;
                font: {
                   weight : $font-regular;
                   size : 2.5rem;
                }
                text-align: center;

                animation-duration: 0.5s;
                animation-name: move;

                @keyframes move {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }
                // background-color: aqua;

                @include responsive(large-screens) {
                    font-size: 4rem;
                    font-weight: $font-regular;
                    // background-color: aqua;
                }
            }
            p {
                text-align: center;
                width: 60%;
                margin: 0 auto;
                font-size: 1.3rem;
                font-weight: $font-regular;
                color: $color-gray;
                // background-color: aliceblue;

                animation-duration: 2s;
                animation-name: move;

                @keyframes move {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }

                @include responsive(large-screens) {
                    width: 100%;
                    font-size: 1.5rem;
                    // background-color: antiquewhite;
                }
            }
            img {
                width: 375px; height: 310px;
                margin: 0 auto;
 
                animation-duration: 4s;
                animation-name: move;

                @keyframes move {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }

                @include responsive(large-screens) {
                    width: 880px; height: 665px;
                }
            }

            } // section.main-titles
    } // container
    hr {
        width: 100%; height: 50px;
        margin-top: 100px;
        background-color:$color-main;
    }

    section.box1 {
        position: relative;
        width: 100%; height:auto;
        border: 1px dashed black;
        border-left: none;
        border-right: none;
        border-top: none;
        background-image: url(../images/1900_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -700px;
        .box1-line {
            width: 100%;
            margin-bottom: 2px;
            border: 1px dashed black;
            border-left: none;
            border-right: none;
            border-top: none;
            .container {
                .box1-txt {
                    height: 100%;
                    // border: 1px dashed black;
                    // background-color: antiquewhite;
                    .box1-title {
                        padding-top: 90px;
                        // background-color: aqua;
                        h2 {
                            width: 53%; 
                            margin: 0 auto;
                            padding-bottom: 20px;
                            text-align: left;
                            font-size: 25px;
                            // background-color: gray;
                        }
                        p {
                            width: 53%;
                            margin: 0 auto;
                            font-size: 17px;
                            font-weight:$font-regular;
                            color: #565656;
                            // background-color: aquamarine;
                    }
                    }
                    ul.years {
                        width: 53%;
                        margin: 0 auto;
                        font-weight: $font-regular;
                        font-size: 1.2rem;
                        color: #565656;
                        li {
                            list-style-type: circle;
                            color: black;
                            // background-color: antiquewhite;    
                            span.orange {
                                margin-top: 50px;
                                margin-bottom: 3px;
                                font-weight: $font-semibold;
                                color: $color-point;
                                // background-color: antiquewhite;
                            }
                            span.black {
                                margin-top: 50px;
                                margin-bottom: 3px;
                                font-weight: $font-semibold;
                                color: $color-main;
                            }
                        }
                        li:last-child {
                            padding-bottom: 150px;
                        }
                    }
            
                    div.line-circle {
                        div.vertical-dotted-line {
                            position: absolute; left: 9%; top: 0;
                            border: 0.5px dashed black;
                            height: 100%;
                            // background-color: black;
                            div.vertical-dotted-line2 {
                                position: absolute; left: 2px; top: 0;
                                height: 100%;
                                border: 0.5px dashed black;
                                div.outer-cicle {
                                    position: absolute; 
                                    left: -9px; top: 110px;
                                    width: 15px; height: 15px;
                                    border: 1px solid $color-main;
                                    border-radius: 50%;
                                    background-color: white; 
                    
                                    div.inner-cicle {
                                        position: absolute; 
                                        top: 3px; left: 3px;
                                        width: 7px; height: 7px;
                                        
                                        border: 1px solid $color-main;
                                        border-radius: 50%;
                                        background-color: $color-main; 
                                    }
                                } // outer-cicle
                            } // vertical-dotted-line2      
                            img {
                                position: absolute; bottom: -5px; left: -28px;
                                width: 60px; height: auto;
                            }  
                        } // vertical-dotted-line
                    } // line-circle        
                } // .box1-txt
            } // container
        
        } // box1-line
    } // section.box1


    section.box2 {
        position: relative;
        width: 100%; height:auto;
        border: 1px dashed black;
        border-left: none;
        border-right: none;
        border-top: none;
        background-image: url(../images/1925m_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        // background-position-x: -500px;
        .box2-line {
            width: 100%;
            margin-bottom: 2px;
            border: 1px dashed black;
            border-left: none;
            border-right: none;
            border-top: none;
            .container {
                .box2-txt {
                    height: 100%;
                    // border: 1px dashed black;
                    // background-color: antiquewhite;
                    .box2-title {
                        padding-top: 90px;
                        // background-color: aqua;
                        h2 {
                            width: 53%; 
                            margin: 0 auto;
                            padding-bottom: 20px;
                            text-align: left;
                            font-size: 25px;
                            // background-color: gray;
                        }
                        p {
                            width: 53%;
                            margin: 0 auto;
                            font-size: 17px;
                            font-weight:$font-regular;
                            color: #565656;
                            // background-color: aquamarine;
                    }
                    }
                    ul.years {
                        width: 53%;
                        margin: 0 auto;
                        font-weight: $font-regular;
                        font-size: 1.2rem;
                        color: #565656;
                        li {
                            list-style-type: circle;
                            color: black;
                            // background-color: antiquewhite;    
                            span.orange {
                                margin-top: 50px;
                                margin-bottom: 3px;
                                font-weight: $font-semibold;
                                color: $color-point;
                                // background-color: antiquewhite;
                            }
                            span.black {
                                margin-top: 50px;
                                margin-bottom: 3px;
                                font-weight: $font-semibold;
                                color: $color-main;
                            }
                        }
                        li:last-child {
                            padding-bottom: 150px;
                        }
                    }
            
                    div.line-circle {
                        div.vertical-dotted-line {
                            position: absolute; left: 9%; top: 0;
                            border: 0.5px dashed black;
                            height: 100%;
                            // background-color: black;
                            div.vertical-dotted-line2 {
                                position: absolute; left: 2px; top: 0;
                                height: 100%;
                                border: 0.5px dashed black;
                                div.outer-cicle {
                                    position: absolute; 
                                    left: -9px; top: 110px;
                                    width: 15px; height: 15px;
                                    border: 1px solid $color-main;
                                    border-radius: 50%;
                                    background-color: white; 
                    
                                    div.inner-cicle {
                                        position: absolute; 
                                        top: 3px; left: 3px;
                                        width: 7px; height: 7px;
                                        
                                        border: 1px solid $color-main;
                                        border-radius: 50%;
                                        background-color: $color-main; 
                                    }
                                } // outer-cicle
                            } // vertical-dotted-line2      
                        } // vertical-dotted-line
                    } // line-circle        
                } // .box2-txt
            } // container
        
        } // box2-line
    } // section.box2
 

    section.box3 {
        position: relative;
        width: 100%; height:auto;
        border: 1px dashed black;
        border-left: none;
        border-right: none;
        border-top: none;
        background-image: url(../images/2004m_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        // background-position-x: -500px;
        .box3-line {
            width: 100%;
            margin-bottom: 2px;
            border: 1px dashed black;
            border-left: none;
            border-right: none;
            border-top: none;
            .container {
                .box3-txt {
                    height: 100%;
                    // border: 1px dashed black;
                    // background-color: antiquewhite;
                    .box3-title {
                        padding-top: 90px;
                        // background-color: aqua;
                        h2 {
                            width: 53%; 
                            margin: 0 auto;
                            padding-bottom: 20px;
                            text-align: left;
                            font-size: 25px;
                            // background-color: gray;
                        }
                        p {
                            width: 53%;
                            margin: 0 auto;
                            font-size: 17px;
                            font-weight:$font-regular;
                            color: #565656;
                            // background-color: aquamarine;
                    }
                    }
                    ul.years {
                        width: 53%;
                        margin: 0 auto;
                        font-weight: $font-regular;
                        font-size: 1.2rem;
                        color: #565656;
                        li {
                            list-style-type: circle;
                            color: black;
                            // background-color: antiquewhite;    
                            span.orange {
                                margin-top: 50px;
                                margin-bottom: 3px;
                                font-weight: $font-semibold;
                                color: $color-point;
                                // background-color: antiquewhite;
                            }
                            span.black {
                                margin-top: 50px;
                                margin-bottom: 3px;
                                font-weight: $font-semibold;
                                color: $color-main;
                            }
                        }
                        li:last-child {
                            padding-bottom: 150px;
                        }
                    }
            
                    div.line-circle {
                        div.vertical-dotted-line {
                            position: absolute; left: 9%; top: 0;
                            border: 0.5px dashed black;
                            height: 100%;
                            // background-color: black;
                            div.vertical-dotted-line2 {
                                position: absolute; left: 2px; top: 0;
                                height: 100%;
                                border: 0.5px dashed black;
                                div.outer-cicle {
                                    position: absolute; 
                                    left: -9px; top: 110px;
                                    width: 15px; height: 15px;
                                    border: 1px solid $color-main;
                                    border-radius: 50%;
                                    background-color: white; 
                    
                                    div.inner-cicle {
                                        position: absolute; 
                                        top: 3px; left: 3px;
                                        width: 7px; height: 7px;
                                        
                                        border: 1px solid $color-main;
                                        border-radius: 50%;
                                        background-color: $color-main; 
                                    }
                                } // outer-cicle
                            } // vertical-dotted-line2      
                        } // vertical-dotted-line
                    } // line-circle        
                } // .box3-txt
            } // container
        
        } // box3-line
    } // section.box3

    section.box4 {
        position: relative;
        width: 100%; height:auto;
        border: 1px dashed black;
        border-left: none;
        border-right: none;
        border-top: none;
        background-image: url(../images/2011m_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        // background-position-x: -500px;
        .box4-line {
            width: 100%;
            margin-bottom: 2px;
            border: 1px dashed black;
            border-left: none;
            border-right: none;
            border-top: none;
            .container {
                .box4-txt {
                    height: 100%;
                    // border: 1px dashed black;
                    // background-color: antiquewhite;
                    .box4-title {
                        padding-top: 90px;
                        // background-color: aqua;
                        h2 {
                            width: 53%; 
                            margin: 0 auto;
                            padding-bottom: 20px;
                            text-align: left;
                            font-size: 25px;
                            // background-color: gray;
                        }
                        p {
                            width: 53%;
                            margin: 0 auto;
                            font-size: 17px;
                            font-weight:$font-regular;
                            color: #565656;
                            // background-color: aquamarine;
                    }
                    }
                    ul.years {
                        width: 53%;
                        margin: 0 auto;
                        font-weight: $font-regular;
                        font-size: 1.2rem;
                        color: #565656;
                        li {
                            list-style-type: circle;
                            color: black;
                            // background-color: antiquewhite;    
                            span.orange {
                                margin-top: 50px;
                                margin-bottom: 3px;
                                font-weight: $font-semibold;
                                color: $color-point;
                                // background-color: antiquewhite;
                            }
                            span.black {
                                margin-top: 50px;
                                margin-bottom: 3px;
                                font-weight: $font-semibold;
                                color: $color-main;
                            }
                        }
                        li:last-child {
                            padding-bottom: 150px;
                        }
                    }
            
                    div.line-circle {
                        div.vertical-dotted-line {
                            position: absolute; left: 9%; top: 0;
                            border: 0.5px dashed black;
                            height: 100%;
                            // background-color: black;
                            div.vertical-dotted-line2 {
                                position: absolute; left: 2px; top: 0;
                                height: 100%;
                                border: 0.5px dashed black;
                                div.outer-cicle {
                                    position: absolute; 
                                    left: -9px; top: 110px;
                                    width: 15px; height: 15px;
                                    border: 1px solid $color-main;
                                    border-radius: 50%;
                                    background-color: white; 
                    
                                    div.inner-cicle {
                                        position: absolute; 
                                        top: 3px; left: 3px;
                                        width: 7px; height: 7px;
                                        
                                        border: 1px solid $color-main;
                                        border-radius: 50%;
                                        background-color: $color-main; 
                                    }
                                } // outer-cicle
                            } // vertical-dotted-line2      
                        } // vertical-dotted-line
                    } // line-circle        
                } // .box4-txt
            } // container
        
        } // box3-line
    } // section.box4

} // main





























//***********footer***********
footer {
    @include footer-style();
}