@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../scss/header.scss";
@import "../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    // background-color: antiquewhite;
}
html {
    overflow: hidden;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    
}
//***********header***********
header {
    @include header-style();
}
////////////////////////////////////////////////
main {
    .space{
        .space-title {
           
            text-align: center;
            // background-color: aqua;
            @include responsive(large-screens) {
                width: 100%;
                height: 300px;
                // padding-top: 50px;
            //    background-color: #b6b6b6;
            }
            h1 {
                font-size: 1.5rem;
                padding-bottom: 15px;
                font-size: $font-semibold;
                @include responsive(large-screens) {
                    padding-top: 100px;
                    font-size: 2.5rem;
                }
            }
            p {
                font-size: 0.9rem;
                color: #b6b6b6;
                @include responsive(large-screens) {
                    // padding-top: 15px;
                    padding-bottom: 100px;
                    font-size: 1rem;
                    // background-color: aqua;
                }
            }
           
        } // space-title

        .sec1 {
            @include responsive(large-screens) {
                height: 1000px;
                text-align: center;
                margin: 0px 0 0px 0;
                // border-top: 1px solid #dddddd;
                background-image: url(../images/sec1_bg.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                // background-color: #dddddd;
                animation-duration: 4s;
                animation-name: move;

                @keyframes move {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }
            }
            img {
                border-top: 1px solid #dddddd;
                margin-top: 40px;
                @include responsive(large-screens) {
                    display: none;
                    // background-color: antiquewhite;
                }
            }
            h2 {
                padding-bottom: 20px;
                text-align: center;
                font-size: $font-semibold;
                @include responsive(large-screens) {
                    width: 100%;
                    font-size: 2.5rem;
                    padding-right: 55%;
                    padding-top: 360px;
                    text-align: right;
                }
            }
            p {
                width: 70%;
                text-align: center;
                margin: 0 auto;
                padding-top: 20px;
                padding-bottom: 100px;
                font-size: 0.9rem;
                @include responsive(large-screens) {
                    width: 30%;
                    margin-right: 55%;
                    padding-bottom: 0px;

                    color: #646464;
                    font-size: 1.1rem;
                    font-weight: $font-regular;
                    text-align: right;
                    // background-color: #b6b6b6;
                }
                span {
                    display: inline;
                    color: #ff6000;
                }
            }
        } // sec1

        

        .sec2 {
            border-bottom: 1px solid #dddddd;
            @include responsive(large-screens) {
                float: right;
                width: 100%;
                margin: 0px 0 100px 0;
                text-align: center;
                background-image: url(../images/sec2_bg.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                height: 1000px;
                // background-color: #dddddd;
                border-bottom: none;
            }
            img {
                margin-top: 100px;
                @include responsive(large-screens) {
                    display: none;
                }
            }
            h2 {
                padding-bottom: 20px;
                text-align: center;
                font-size: $font-semibold;
                @include responsive(large-screens) {
                    width: 100%;
                    font-size: 2.5rem;
                    padding-left: 55%;
                    padding-top: 360px;
                    text-align: left;
                    // background-color: aqua;
                }
            }
            p {
                width: 70%;
                text-align: center;
                margin: 0 auto;
                padding-top: 20px;
                padding-bottom: 100px;
                font-size: 0.9rem;
                @include responsive(large-screens) {
                    width: 32%;
                    
                    
                    margin-left: 55%;
                    color: #646464;
                    font-size: 1.1rem;
                    font-weight: $font-regular;
                    text-align: left;
                }
                span {
                    display: inline;
                    color: #ff6000;
                }
            }
        } // sec2

        .slide1 {
            position: relative;
            @include responsive(large-screens) {
                margin: 0px 0 100px 0;
             
                // background-color: #e2e2e2
            }
            .box1 {
                display: flex;
                width: 100%; height: 100%;
                border-left: none;
                border-right: none;
                overflow: hidden;
                // background-color: #ff6000;

                @include responsive(large-screens) {
                    padding: 0px 0 0px 0;
                }
                
                .img-list1 {
                    display: flex;
                    width: 500px; 
                    
                    @include responsive(large-screens) {
                        width: 5000px; height: 345px;
                        animation-name: move1;
                        animation-duration: 30s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                        
                        background-color: transparent;
                        @keyframes move1 {
                            0% {
                             transform: translateX(0%);
                            }
                            100% {
                             transform: translateX(-50%);
                            }
                         }
                    }
                    
                   
                    img {
                        width: 100%; height: 100%;
                        @include responsive(large-screens) {
                            width: 500px; height: 345px;
                            padding: 0 10px 0 10px;
                            // border: 2px solid white;
                        }
                    }         
                }

                .img-list2 {
                    display: flex;
                    // display: none;
                    
                    @include responsive(large-screens) {
                        width: 5000px; height: 345px;
                        animation-name: move1;
                        animation-duration: 30s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                        
                        background-color: transparent;
                        @keyframes move1 {
                            0% {
                             transform: translateX(0%);
                            }
                            100% {
                             transform: translateX(-50%);
                            }
                         }
                    }
                    
                   
                    img {
                        width: 100%; height: 100%;
                        display: none;
                        @include responsive(large-screens) {
                            width: 500px; height: 345px;
                            padding: 0 10px 0 10px;
                            display: block;
                            // border: 2px solid white;
                        }
                    }
                }
            } // box1

               
        } // slide1



            .slide2 {
                position: relative;
                width: 100%; 
                margin-bottom:200px;
                background-color: aqua;
                .bg-box {
                    width: 100%;
                    height:100%;
                    img {
                        width: 100%; height:100%;
                    }
                    .shadow-bg {
                        position: absolute; top: 0;
                        z-index: 100;
                        width: 100%; height:100%;   
                        background-color: rgba(0,0,0,0.8);
    
                        .floor{
                            display: flex;
                            justify-content: space-between;
                            width: 35%;
                            margin: 0 auto;
                            padding-top: 20px;
                            h2 {
                                a {
                                    font-size: 3rem;
                                    color:#dddddd;
                                }
                            }
                        }
                        .img-box {
                            width: 100%; height: auto;
                            margin: 0 auto;
                            
                            img {
                                width: 90%; height: auto;
                                margin: 0 auto;
                                padding-top: 30px;
                            }
                        } 
                        .btn {
                            width: 100%;
                            p {
                                width: 100%;
                                display: flex;
                               
                                .white  {
                                    font-weight: bold;
                                }
                                color: white;
                            }
                        }
                        .txt-box {
                            width: 90%; height: auto;
                            margin: 0 auto;
                            
                            
                            h2 {
                                font-size:1rem;
                                color: white;
                            }
                            p {
                                color: white;
                            }
                        }
                    } // shadow-bg
                } //bg-box
            } // slide2
          
    } // space
}


///////////////////////////////////////////////
//***********footer***********
footer {
    @include footer-style();
}