@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import "../../../scss/header.scss";
@import "../../../scss/footer.scss";


.container {
    width: $width-wide;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    // background-color: antiquewhite;
}

//***********header***********
header {
    @include header-style();
}


//***********main***********
main {
    .intro-page {
        width: 100%;
        height: 795px;
        background: url(../images/dance.png);

        .intro-text {
            padding-top: 100px;

            h1 {
                font-size: 150px;
                text-align: center;

                // background-color: blue;
                @include responsive(large-screens) {
                    font-size: 120px;
                    text-align: left;
                    padding-top: 150px;
                }

            }



            h2 {
                padding-left: 250px;
                transform: translateY(-280px);
                // background-color: #1a1a1a;
                font-size: 150px;
                opacity: 0.2;
                text-align: center;

                @include responsive(large-screens) {
                    font-size: 120px;
                    text-align: left;
                    padding-left: 100px;
                    padding-top: 50px;
                }
            }

            @include responsive(large-screens) {}
        }

        p {
            font-size: 30px;
            text-align: center;

            @include responsive(large-screens) {
                text-align: left;
                // background-color: #1a1a1a;
                margin-top: -120px;
                margin-left: 200px;
            }
        }
    }

    /* 222222222page2222222222222222222 */
    .content-page {
        // height: 1009px;
        // overflow: hidden;
        margin-bottom: 20px;

        form {
            margin-top: 50px;
            text-align: center;

            @include responsive(large-screens) {
                position: absolute;
                text-align: left;
                margin-top: 200px;
            }

            .btn {
                border: 1px solid $line-gray;
                border-radius: 3px;
                display: inline-block;
                padding: 10px;
                height: 50px;
                position: relative;
                z-index: 10;
                text-align: center;
                transition: background 600ms ease, color 600ms ease;

                @include responsive(large-screens) {}
            }

            input[type="radio"].toggle {
                display: none;

                &+label {
                    cursor: pointer;
                    min-width: 50%;
                    font-size: 20px;
                    line-height: 25px;

                    @include responsive(large-screens) {
                        width: 110px;
                    }

                    &:hover {
                        background: none;
                        color: #1a1a1a;
                    }

                    &:after {
                        background: $color-point;
                        border-radius: 3px;
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
                        z-index: -1;

                    }
                }

                &.toggle-left+label {
                    border-right: 0;

                    &:after {
                        left: 100%
                    }
                }

                &.toggle-right+label {
                    margin-left: -4px;

                    &:after {
                        left: -100%;
                    }
                }

                &:checked+label {
                    cursor: default;
                    color: #fff;
                    z-index: 60;
                    transition: color 200ms;

                    &:after {
                        left: 0;
                    }
                }
            }

            .searchform {
                display: none;
                margin-top: 50px;
                width: 120%;
                
                @include responsive(large-screens) {
                    display: block;
                }

                label,
                input {
                    vertical-align: baseline;
                    color: #737373;
                }
    
                label {
                    position: relative;
                    margin: 0.125em 0.125em 0 0;
                    float: right;
    
                    img {
                        position: absolute;
                        top: -10px; left: -85px;
                        width: 40px;
                        cursor: pointer;
                    }
                }
    
                input[type="search"] {
                    border: 1px solid $color-main;
                    border-width: 0 0 1px;
                    background-color: transparent;
                    font: 20px "Open Sans", sans-serif;
                    padding: 0.125em 0.225em;
                    width: 85%;
                    float: left;
    
                    &:focus {
                        color: $color-main;
                        border-color: $color-main;
                        outline: none;
                    }
                }
            }
        }

        /* form */

        /* ###########search box################# */


        /* scrollbarrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

        .scrollbar {

            @include responsive(large-screens) {
                float: right;
            }
        }

        .ex-scroll {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;

            @include responsive(large-screens) {
                flex-direction: row-reverse;
                justify-content: flex-end;
            }

            .scrollbar-track {
                width: 100%;
                height: 2px;
                background-color: $line-gray;
                border-radius: 5px;
                position: relative;
                margin-bottom: 10px;

                @include responsive(large-screens) {
                    width: 2px;
                    height: 600px;
                    margin-right: 10px;
                    // order: 2;
                }

                .scrollbar-thumb {
                    width: 30px;
                    height: 30px;
                    background-color: $color-point;
                    border-radius: 50%;
                    position: absolute;
                    top: -14px;
                    left: 0;
                    cursor: pointer;
                    transition: left 0.1s ease;

                    @include responsive(large-screens) {
                        left: -14px;
                        /* 썸을 트랙 중심에 맞춤 */
                        top: 0;
                    }
                }
            }

            .years {
                display: flex;
                justify-content: space-between;
                width: 100%;

                @include responsive(large-screens) {
                    flex-direction: column;
                    height: 625px;
                    padding-right: 20px;
                    // background-color: aquamarine;
                    // order: 1;
                }

                span {
                    font-size: 30px;
                    font-weight: $font-semibold;
                    cursor: pointer;
                    text-align: right;
                }
            }
        }

        /* scrollbarrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
        /* ==============exhibiton================= */
        .now-exhibition,
        .fin-exhibition {
            margin: 100px auto;
            width: 80%;
            height: 600px;
            overflow-y: scroll;
            // background-color: rgb(18, 245, 245);

            @include responsive(large-screens) {
                width: 70%;
                transform: translateX(50px);
            }
        }
        .fin-exhibition {
            display: none;
        }

        .exhibition-list {
            display: flex;
            flex-direction: column;

            @include responsive(large-screens) {
                // background-color: skyblue;
            }

            a {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-bottom: 20px;
                // background-color: azure;

                @include responsive(large-screens) {
                    overflow: hidden;
                    
                    display: grid;
                    // grid-template-areas: 
                    // "a c c"
                    // "a c c"
                    // "b c c"
                    // ;

                    // h3 {grid-area: a;}
                    // p { grid-area: b;}
                    // img {grid-area: c;}
                    // text-align: right;
                    grid-template-columns: repeat(2, 1fr);

                    h3 {
                        grid-column: 1/2;
                        grid-row: 1/2
                    }

                    p {
                        grid-column: 1/2;
                        grid-row: 2/3
                    }

                    img {
                        grid-column: 2/3;
                        grid-row: 1/3;
                    }

                }

                &:hover {
                    color: $color-point;
                    transition: all 0.3s;
                }

                h3 {
                    font-size: 2.5vw;
                    order: 2;

                    @include responsive(large-screens) {
                        margin: 0 15px 0 0;
                        font-size: 18px;
                        text-wrap: pretty;
                        text-align: right;
                        padding-top: 90px;
                        // background-color: antiquewhite;
                    }
                }

                p {
                    font-size: 2vw;
                    order: 3;

                    @include responsive(large-screens) {
                        font-size: 16px;
                        // width: 80%;
                        text-align: right;
                        margin-top: -30px;
                        margin-right: 15px;
                    }
                }

                img {
                    width: 100%;
                    margin: 0 auto;
                    order: 1;

                    @include responsive(large-screens) {}
                }

            }
        }
/* =================exhibiton====================== */
    } /* content-page */
    
} /* main */



//***********footer***********
footer {
    @include footer-style();
}